{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>{{ title }}{% if site_settings.alter_title %} - {{ site_settings.alter_title }}{% endif %}</title>
{% endblock %}
{% block content %}
<style>
.bg-color-title, .bg-color-title #header-wrap {
background-color: #336576 !important;
}
.color-underline {
	background-image: linear-gradient(rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3), rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3));
	background-repeat: no-repeat;
	background-size: 0 8px;
	background-position: 0 82%;
	padding: 0 2px 2px 0;
	transition: background .6s cubic-bezier(.19,1,.22,1);
}
.color-underline:hover { background-size: 100% 8px; }
</style>
<!-- Page Title
		============================================= -->
<section class="page-title bg-color-title dark">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <h1>Ошибка сервера</h1>
            </div>
        </div>
    </div>
</section><!-- .page-title end -->

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">

			<div class="row align-items-center col-mb-80">

				<div class="col-lg-6">
					<div class="error404 text-center">500</div>
				</div>

				<div class="col-lg-6">

					<div class="heading-block text-center text-lg-start border-bottom-0">
						<h4>{{ error_message }}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- #content end -->
{% endblock %}