{% load mptt_tags blog_tags %}
{% load static %}
<!-- Sidebar
============================================= -->
<aside class="sidebar col-lg-3">
    <div class="sidebar-widgets-wrap">
        {% if blog_settings.last_comments %}
        <div class="widget">
            <h4>Последние комментарии</h4>
            {% show_latest_comments count=5 %}
        </div>
        {% endif %}
        {% if blog_adv_settings.1.show or blog_adv_settings.2.show %}
        <!-- Sidebar Widget 2 Advertisement
        ============================================= -->
        <div class="widget">
            <div class="col-lg-12">
                <div class="fancy-title title-border">
                    <h3>{{ blog_settings.sidebar_title }}</h3>
                </div>
            </div>
            {% if blog_adv_settings.1.show %}
            <a href="{{ blog_adv_settings.1.url }}" target="_blank" rel="nofollow"><img src="{{ blog_adv_settings.1.poster.url }}" width="300" alt="{{ blog_adv_settings.1.title }}"
                                 class="aligncenter mb-5 mt-5"></a>

            {% endif %}
            {% if blog_adv_settings.2.show %}
            <!-- Sidebar Widget 3 Advertisement
            ============================================= -->
            <a href="{{ blog_adv_settings.2.url }}" target="_blank" rel="nofollow"><img src="{{ blog_adv_settings.2.poster.url }}" width="300" alt="{{ blog_adv_settings.2.title }}"
                                     class="aligncenter mb-5 mt-5"></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</aside><!-- .sidebar end -->