{% load mptt_tags blog_tags %}
{% load static %}
<!-- Sidebar
============================================= -->
<aside class="sidebar col-lg-3">
    <div class="sidebar-widgets-wrap">
        {% if blog_settings.last_comments %}
        <div class="widget">
            <h4>Последние комментарии</h4>
            {% show_latest_comments count=5 %}
        </div>
        {% endif %}
        {% if adv_settings.7.show or adv_settings.8.show %}
        <!-- Sidebar Widget 2 Advertisement
        ============================================= -->
        <div class="widget">
            <div class="col-lg-12">
                <div class="fancy-title title-border">
                    <h3>{{ blog_settings.sidebar_title }}</h3>
                </div>
            </div>
            {% if adv_settings.7.show %}
            <a href="{{ adv_settings.7.url }}" target="_blank"><img src="{{ adv_settings.7.poster.url }}" width="300" alt="{{ adv_settings.7.title }}"
                                 class="aligncenter mb-5 mt-5"></a>

            {% endif %}
            {% if adv_settings.8.show %}
            <!-- Sidebar Widget 3 Advertisement
            ============================================= -->
            <a href="{{ adv_settings.8.url }}" target="_blank"><img src="{{ adv_settings.8.poster.url }}" width="300" alt="{{ adv_settings.8.title }}"
                                     class="aligncenter mb-5 mt-5"></a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</aside><!-- .sidebar end -->