{% for week, data in events.items %}
<div class="content-wrap bg-light mt-0 mb-0">
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border">
                {% if data.first|date:"m" == data.last|date:"m" %}
                    <h3>{{ data.first|date:"j" }} - {{ data.last }}</h3>
                {% else %}
                    <h3>{{ data.first }} - {{ data.last }}</h3>
                {% endif %}
            </div>

        </div>

    {% if data.items %}
        <div class="d-grid col-mb-50">
            {% for event in data.items %}
                <div style="border:1px solid rgba(189, 189, 189, 0.4) !important;" class="grid-col shadow-sm bg-light rounded bg-white row g-0 p-3 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
                    <div class="col-md-12 p-4">
                        <!--                    <span class="badge px-3 py-2 mt-2 me-1 bg-white border border-default text-dark rounded-pill fw-normal position-absolute z-9"-->
                        <!--                          style="left: 50px; top: -23px;">{{ t.type }}</span>-->
                        <div class="row align-items-center">
                            {% if event.is_closed %}
                            <div class="mb-3"><span style="color:green; font-weight: 400;">Завершено</span>
                            </div>
                            {% endif %}
                            <div class="mb-3"><span style="color:blue; font-weight: 400;">{% if event.date_start|date:"m" == event.date_end|date:"m" %}
                                                    {{ event.date_start|date:"d" }} - {{ event.date_end }}
                                                {% else %}
                                                    {{ event.date_start }} - {{ event.date_end }}
                                                {% endif %}</span>
                            </div>
                            <div class="col-lg-12">
                                {% if event.tournament %}
                                    <h4><a href="{% url 'stage_detail_url' tournament_id=event.tournament.id stage_id=event.id %}" class="stretched-link color-underline">{{ event.title }}</a></h4>
                                {% elif event.stages %}
                                    <h4><a href="{% url 'contest_detail_url' tournament_id=event.id %}" class="stretched-link color-underline">{{ event.title }}</a></h4>
                                {% else %}
                                    <h4><a href="{{ event.get_absolute_url }}" class="stretched-link color-underline">{{ event.title }}</a></h4>
                                {% endif %}
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex align-middle text-smaller mb-2">
                                    <div><span style="font-size:14px; font-weight: 400;">Уровень:</span>
                                        <span class="font-primary ms-2">{{ event.type }}</span>
                                    </div>
                                </div>
                            </div>

                            {% if event.event_type %}
                            <div class="col-lg-12">
                                <div class="d-flex align-middle text-smaller mb-2">
                                    <div><span style="font-size:14px; font-weight: 400;">Тип:</span>
                                        <span class="font-primary ms-2">{{ event.event_type }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if event.stage_type %}
                            <div class="col-lg-12">
                                <div class="d-flex align-middle text-smaller mb-2">
                                    <div><span style="font-size:14px; font-weight: 400;">Тип:</span>
                                        <span class="font-primary ms-2">{{ event.stage_type }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-lg-12">
                                <div class="d-flex align-middle text-smaller mb-2">
                                    <div><span style="font-size:14px; font-weight: 400;">Дисциплина:</span>
                                        {% for d in event.discipline.all %}
                                        <span class="font-primary ms-2">{{ d.title }}{% if not forloop.last %}, {% endif %}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex align-middle text-smaller mb-2">
                                    <div><span style="font-size:14px; font-weight: 400;">Место проведения:</span>
                                        <span class="font-primary ms-2">{{ event.location }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if event.prize %}
                            <div class="col-lg-12">
                                <div class="d-flex align-middle text-smaller mb-2">
                                    <div><span style="font-size:14px; font-weight: 400;">Призовой фонд:</span><span
                                            class="font-primary ms-2">{{ event.prize }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="heading-block text-center mt-0">
            <h4 style="font-size: 18px; font-weight: 200; color: #ccc;">На этой неделе событий нет</h4>
        </div>
    {% endif %}
        </div>
    </div>
{% endfor %}
