{% extends 'base.html' %}
{% load static %}
{% block title %}
	<title>{{ title }}{% if site_settings.alter_title %} - {{ site_settings.alter_title }}{% endif %}</title>
{% endblock %}
{% block content %}
{% include 'slider/slider.html' %}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">
        {% include 'news/news-main.html' %}
        {% include 'event/events.html' %}
        {% include 'articles/articles.html' %}
        {% include 'blog/blogs.html' %}
        {% include 'portal/includes/about_us.html' %}
    </div>
</section><!-- #content end -->
{% endblock %}