{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'portal/includes/slider.html' %}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">
        {% include 'portal/includes/news4-4.html' %}
        {% include 'portal/includes/events.html' %}
        {% include 'portal/includes/articles.html' %}
        {% include 'portal/includes/blogs.html' %}
        {% include 'portal/includes/about_us.html' %}

    </div>
</section><!-- #content end -->
{% endblock %}