{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'portal/includes/slider.html' %}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">
        <div class="border-bottom py-4">
					<div class="container">
						<div class="row align-items-center gy-3">
							<div class="col-lg-4 d-none d-lg-block">
								<p class="fw-medium mb-0">Наши партнеры &mdash;</p>
							</div>

							<div class="col-lg-8">
								<div class="row g-4 align-items-center justify-content-center">
									<div class="col-md-2 col-4 flex-fill text-center op-08"><img height="46" src="{% static 'portal/images/clients/cnn.svg' %}" alt="Brands"></div>
									<div class="col-md-2 col-4 flex-fill text-center op-08"><img height="46" src="{% static 'portal/images/clients/github.svg' %}" alt="Brands"></div>
									<div class="col-md-2 col-4 flex-fill text-center op-08"><img height="46" src="{% static 'portal/images/clients/google.svg' %}" alt="Brands"></div>
									<div class="col-md-2 col-4 flex-fill text-center op-08"><img height="46" src="{% static 'portal/images/clients/paypal.svg' %}" alt="Brands"></div>
									<div class="col-md-2 col-4 flex-fill text-center op-08"><img height="46" src="{% static 'portal/images/clients/vimeo.svg' %}" alt="Brands"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
        {% include 'portal/includes/news4.html' %}

        <div class="clear"></div>

<!--        {% include 'portal/includes/events.html' %}-->

        {% include 'portal/includes/gallery.html' %}

        {% include 'portal/includes/blogs.html' %}
        <div class="clear"></div>
    </div>
</section><!-- #content end -->
{% endblock %}