{% load static %}
{% block content %}
<div id="section-about" class="lazy section my-0 mt-0 entered lazy-loaded"
     style="padding: 0px 0; background-color:rgb(29, 97, 114);">
<div class="section bg-transparent my-0 pb-1">
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border dark">
                <h3>Видео и подкасты</h3>
            </div>
        </div>
    </div>
    <div id="oc-videos" class="owl-carousel owl-carousel-full image-carousel carousel-widget customjs">
        {% for video in videos %}
        <div class="oc-item">
            <div class="jumbotron m-0 dark p-5 d-flex justify-content-center flex-column" style="background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0, 0.8)), url('{{ video.image.url }}') no-repeat center center / cover;">
                <div class="jumbotron-text mt-0 mt-md-auto row align-items-center">
                    <div class="col-md-8">
                        <h2 class="mb-1 fw-bold">{{ video.title }}</h2>
                        <div class="testi-content">
                            <p>{{ video.short }}</p>
                        </div>
                        <div class="mt-4"></div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-md-center mt-2 mt-md-0">
                        <a href="{{ video.get_cleaned_url }}" data-lightbox="iframe" class="play-icon"><i class="bi-play-fill"></i></a>
                    </div>
                </div>
                {% if user.is_superuser or user.is_staff%}
                <div class="entry-icons d-sm-block mb-1 px-1">
                        <a href="{{ video.get_update_url }}" class="font-size-plus btn btn-outline-success border-0 ms-1" title="Изменить видео"><i class="bi-pencil-square"></i></a>
                        <a href="{{ video.get_delete_url }}" class="font-size-plus btn btn-outline-danger border-0 ms-1" title="Удалить видео"><i class="bi-x-circle"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center mb-5">
        <a href="{% url 'video_list_url' %}"
           class="w-auto btn button-border m-0 mt-5 button button-large button-rounded px-4 button-light button-white fadeInUp animated"
           type="button"><i class="bi-arrow-right"></i><span class="flex-grow">Перейти в раздел</span></a>
    </div>
</div>
</div>
<script>
	// Owl Carousel Scripts
	jQuery(window).on( 'load', function(){
		jQuery('#oc-videos').owlCarousel({
			items: 1,
			margin: 30,
			nav: true,
			navText: ['<i class="bi-arrow-left"></i>','<i class="bi-arrow-right"></i>'],
			dots: false,
			smartSpeed: 300,
			stagePadding: 60,
			responsive:{
				768: { stagePadding: 100, margin: 30, items: 1 },
				991: { stagePadding: 100, margin: 40, smartSpeed: 400, items: 2 },
				1200: { stagePadding: 100, margin: 40, smartSpeed: 400, items: 2}
			},
		});
	});
</script>
{% endblock %}