{% load static %}

{% block content %}
<style>
.color-underline {
	background-image: linear-gradient(rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3), rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3));
	background-repeat: no-repeat;
	background-size: 0 8px;
	background-position: 0 82%;
	padding: 0 2px 2px 0;
	transition: background .6s cubic-bezier(.19,1,.22,1);
}
.color-underline:hover { background-size: 100% 8px; }


</style>

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-0 my-0">
    <div class="container">
        <div class="row">
            <!-- News Area
            ============================================= -->
            <div class="{% if news_settings.subscribe_main_sidebar or news_adv_settings.1.show or news_adv_settings.2.show %}col-lg-9{% else %}col-lg-12{% endif %}">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="fancy-title title-border">
                            <h3>{{ news_settings.title }}</h3>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-10">
                        <div class="row col-mb-30">
                            <div class="col-lg-12 mb-5 mb-lg-0">
                                {% for n in news %}
                                <!-- Post News -->
                                {% if forloop.first %}
                                <article class="entry border-bottom-0 mb-0">
                                    <div class="entry-image">
                                        <a href="{{ n.get_absolute_url }}">{% if n.image %}<img src="{{ n.image.url }}" alt="Image">{% else %}<img src="{% static 'portal/images/no_image.webp' %}" alt="Image">{% endif %}</a>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="uil uil-schedule"></i> {{ n.time_create }}</li>
                                            <li><i class="uil uil-comments-alt"></i> {{ n.comments_news.count }}</li>
                                            <li><i class="bi-eye"></i> {{ n.get_view_count }}</li>
                                        </ul>
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="{{ n.get_absolute_url }}"
                                               class="stretched-link color-underline"><span>{{ n.title }}</span></a>
                                        </h3>
                                    </div>
                                </article>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if news_adv_settings.3.show %}
                <!-- Ad
                 ============================================= -->
                <a href="{{ news_adv_settings.3.url }}" target="_blank" rel="nofollow"><img src="{{ news_adv_settings.3.poster.url }}" width="728" alt="{{ news_adv_settings.3.title }}"
                                 class="aligncenter mb-5 mt-5"></a>
                {% endif %}
                {% if news|length > 1 %}
                <div class="col-lg-12 mt-5">
                    <div class="fancy-title title-border">
                        <h4>{{ news_settings.other_news_title }}</h4>
                    </div>
                    <div class="row posts-md col-mb-30">
                        {% for n in news %}
                        <!-- Post News -->
                        {% if not forloop.first %}
                        <div class="entry col-sm-6 col-xl-3 col-md-3 border-0">
                            <div class="grid-inner">
                                <div class="entry-image">
                                    <a href="{{ n.get_absolute_url }}">{% if n.image %}<img src="{{ n.image.url }}" alt="Image">{% else %}<img src="{% static 'portal/images/no_image.webp' %}" alt="Image">{% endif %}</a>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="uil uil-schedule"></i> {{ n.time_create|date:"d.m.Y" }}</li>
                                        <li><i class="bi-eye"></i> {{ n.get_view_count }}</li>
                                    </ul>
                                </div>
                                <div class="entry-title title-xs text-transform-none">
                                    <h3><a href="{{ n.get_absolute_url }}" class="stretched-link color-underline">{{ n.title }}</a></h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="m-auto col-md-10 border-0 mt-5">
                        <div class="col-12 text-center">
                            <a href="{% url 'news_list_url' %}"
                               class="btn button rounded-1 button-border m-0 size-lg mt-4 button-reveal d-inline-flex fadeInUp animated"
                               data-animate="fadeInUp" data-delay="300"><i class="bi-arrow-right"></i><span>Перейти к новостям</span></a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            {% if news_settings.subscribe_main_sidebar or news_adv_settings.1.show or news_adv_settings.2.show %}
            <!-- Top Sidebar Area
            ============================================= -->
            <div class="col-lg-3 {% if news_settings.sticky_sidebar_news %}sticky-sidebar-wrap{% endif %} mt-5 mt-lg-0">

                <div class="{% if news_settings.sticky_sidebar_news %}sticky-sidebar{% endif %}">
                    {% if news_settings.subscribe_main_sidebar %}
                    <div class="widget">
                        <div class="col-lg-12">
                            <div class="fancy-title title-border">
                                <h3>Подписка</h3>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form class="form-signin">
                                    <div class="text-center">
                                        <i class="bi-envelope text-muted mb-3"
                                           style="font-size: 32px;line-height: 1"></i>
                                        <h5 class="h5 mb-3 fw-normal font-primary">Подпишитесь на наши новости</h5>
                                    </div>

                                    <div class="form-label-group mb-3">
                                        <input type="email" id="inputEmail" class="form-control" required
                                               placeholder="Адрес Email">
                                    </div>
                                    <button class="button rounded-1 size-lg button-border m-0 w-100 mt-3"
                                            type="submit">Подписаться
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="card dotted-bg">
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="h5 mb-0 fw-normal font-primary">Подпишитесь на наши соц.сети</h5>
                                </div>
                            </div>
                            <div class="card-body m-auto">
                                <div class="row text-center gy-4">
                                    {% if social_settings.social_vk_url %}
                                    <div class="col-3"><a href="{{ social_settings.social_vk_url }}" target="_blank"
                                                          class="social-icon text-white bg-vk m-auto float-none" rel="nofollow">

                                        <i class="fa-brands fa-vk" style="font-size: 25px;"></i>
                                        <i class="fa-brands fa-vk" style="font-size: 25px;"></i>
                                    </a></div>
                                    {% endif %}
                                    {% if social_settings.social_instagram_url %}
                                    <div class="col-3"><a href="{{ social_settings.social_instagram_url }}" target="_blank"
                                                          class="social-icon text-white bg-instagram m-auto float-none" rel="nofollow">
                                        <i class="bi-instagram" style="font-size: 25px;"></i>
                                        <i class="bi-instagram" style="font-size: 25px;"></i>
                                    </a></div>
                                    {% endif %}
                                    {% if social_settings.social_telegram_url %}
                                    <div class="col-3"><a href="{{ social_settings.social_telegram_url }}" target="_blank"
                                                          class="social-icon text-white bg-linkedin m-auto float-none" rel="nofollow">
                                        <i class="bi-telegram" style="font-size: 25px;"></i>
                                        <i class="bi-telegram" style="font-size: 25px;"></i>
                                    </a></div>
                                    {% endif %}
                                    {% if social_settings.social_youtube_url %}
                                    <div class="col-3"><a href="{{ social_settings.social_youtube_url }}" target="_blank"
                                                          class="social-icon text-white bg-youtube m-auto float-none" rel="nofollow">
                                        <i class="fa-brands fa-youtube" style="font-size: 25px;"></i>
                                        <i class="fa-brands fa-youtube" style="font-size: 25px;"></i>
                                    </a></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Widget 1 News
                   ============================================= -->
                    {% endif %}
                    {% if news_adv_settings.1.show or news_adv_settings.2.show %}
                    <!-- Sidebar Widget 2 Advertisement
                    ============================================= -->
                    <div class="widget">
                        <div class="col-lg-12">
                            <div class="fancy-title title-border">
                                <h3>{{ news_settings.sidebar_title }}</h3>
                            </div>
                        </div>
                        {% if news_adv_settings.1.show %}
                        <a href="{{ news_adv_settings.1.url}}" target="_blank" rel="nofollow"><img src="{{ news_adv_settings.1.poster.url}}" width="300" alt="{{ news_adv_settings.1.title}}"
                                        class="img-responsive aligncenter"></a><br><br>
                        {% endif %}
                        {% if news_adv_settings.2.show %}
                        <a href="{{ news_adv_settings.2.url}}" target="_blank" rel="nofollow"><img src="{{ news_adv_settings.2.poster.url}}" width="300" alt="{{ news_adv_settings.2.title}}"
                                        class="img-responsive aligncenter"></a>
                        {% endif %}
                    </div>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            </div> <!-- Sidebar End -->
        </div>
    </div>
{% endblock %}