{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% block content %}
<style>
	.entry-meta .no-separator li::before {
  content: "";
}
</style>
<!-- Page Title
		============================================= -->
<section class="page-title dark page-title-parallax parallax scroll-detect page-title-center">
	<img src="{{ post.thumbnail.url }}" class="parallax-bg">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content text-uppercase">
				<h2 class="mb-3">{{ post.title }}</h2>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
					<li class="breadcrumb-item"><a href="{% url 'posts_list_url' %}">Блоги</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
				</ol>
			</nav>

		</div>
	</div>
	<div class="video-overlay z-1" style="background: linear-gradient(to bottom, rgba(66, 97, 118,.9), rgba(66, 97, 118,.9))"></div>
</section><!-- .page-title end -->
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<div class="row gx-5 col-mb-80">
						<!-- Post Content
						============================================= -->
						<main class="postcontent col-lg-9">

							<div class="single-post mb-0">

								<!-- Single Post
								============================================= -->
								<div class="entry">
									<!-- Entry Image
									============================================= -->
									<div class="entry-image">
										<img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
									</div><!-- .entry-image end -->

									<!-- Entry Content
									============================================= -->
									<div class="entry-content mt-0">

										<div class="card border-default mb-4">
											<div class="card-body py-2">
												<div class="row align-items-center justify-content-between fs-6">
													<div class="col-md-auto text-muted"><i class="uil uil-schedule"></i> {{ post.time_create }} <i class="px-1 bi-three-dots-vertical"></i> <a href="{{ post.author.profile.get_absolute_url }}"><i class="uil uil-user"></i> {{ post.author.username }}</a> <i class="px-1 bi-three-dots-vertical"></i> <a href="#comments"><i class="uil uil-comments-alt"></i> {{ post.comments.count }}</a><i class="px-1 bi-three-dots-vertical"></i><i class="bi-eye"></i> {{ post.get_view_count }}</div>
													<div class="col-md-auto">
														<div class="d-flex">
															<div class="font-sizer" data-step="20" data-target=".entry-content">
																<button type="button" class="font-size-minus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1"><i class="bi-type" style="font-size: 12px;"></i></button>
																<button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1"><i class="bi-type" style="font-size: 20px;"></i></button>
															</div>

															<button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1" onclick="window.print();"><i class="bi-printer"></i></button>

															<button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1" data-scrollto="#cnvs-article-share"><i class="bi-share"></i></button>
															{% if post.author.id == user.id or user.is_superuser or user.is_staff%}
																<button type="button" class="font-size-plus btn btn-outline-warning border-0 ms-1"><a href="{{ post.get_update_url }}"><i class="bi-pencil-square"></i></a></button>
                                                    			<button type="button" class="font-size-plus btn btn-outline-danger border-0 ms-1"><a href="{{ post.get_delete_url }}"><i class="bi-x-circle"></i></a></button>
															{% endif %}
														</div>
													</div>
												</div>
											</div>
										</div>

										{{ post.content|safe }}
										<!-- Post Single - Content End -->

									</div>
								</div><!-- .entry end -->
										<!-- Post Single - Share
                                ============================================= -->
								<div class="divider divider-rounded divider-center"><i class="bi-hand-thumbs-up"></i></div>

								<div class="entry col-12 text-center">
									<div class="entry-title">
										<h4>Вам понравилась запись?</h4>
									</div>
									<div class="entry-meta rating-buttons">
										<ul class="justify-content-center mt-2 no-separator">
											<li><button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1" data-value2="post" data-post="{{ post.id }}" data-value="1" title="Нравится"><i style="pointer-events: none; font-size: 1.2rem;" class="bi-hand-thumbs-up text-success"></i></button></li>
											<li class="rating-sum">{{ post.get_sum_rating }}</li>
											<li><button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1" data-value2="post" data-post="{{ post.id }}" data-value="-1" title="Не нравится"><i style="pointer-events: none; font-size: 1.2rem;" class="bi-hand-thumbs-down text-danger"></i></button></li>
										</ul>
									</div>
								</div>

                                <div id="cnvs-article-share" class="card border-default my-4">
                                    <div class="card-body p-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h6 class="fs-6 fw-semibold mb-0">Поделиться:</h6>
                                            <div class="d-flex">
                                                {% include 'portal/includes/social_share.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Post Single - Share End -->

								<!-- Post Navigation
                        ============================================= -->
                        <div class="row text-center text-md-start justify-content-between my-5">
                            <div class="col-md-auto">
                                {% if prev %}
                                <a href="{{ prev.get_absolute_url }}" class="d-inline-flex align-items-center text-dark h-text-color"><i
                                        class="uil uil-angle-left-b fs-3 me-1"></i><span>Предыдущая запись</span></a>
                                {% else %}
                                <a href="" class="d-none disabled" aria-disabled="true"></a>
                                {% endif %}
                            </div>
                            <div class="col-md-auto">
                                {% if next %}
                                <a href="{{ next.get_absolute_url }}" class="d-inline-flex align-items-center text-dark h-text-color"><span>Следующая запись</span><i
                                        class="uil uil-angle-right-b fs-3 ms-1"></i></a>
                                {% else %}
                                <a href="" class="d-none"></a>
                                {% endif %}
                            </div>
                        </div><!-- .post-navigation end -->
								{% if blog_settings.recent_posts %}
								{% if similar_articles %}
								<div class="container mt-6 rounded-6" style="border: 3px solid rgba(233, 156, 52, 1);">
									<div class="row align-items-center justify-content-between p-md-3">
										<h4 class="fs-4 fw-medium">Может быть интересно</h4>
											<div class="related-posts row posts-md">
											{% for sim_article in similar_articles %}
											<div class="entry col-12 col-md-6">
												<div class="grid-inner row gx-4">
													<div class="col-auto">
														<div class="entry-image">
															<a href="{{ sim_article.get_absolute_url }}"><img src="{{ sim_article.thumbnail.url }}" alt="{{ sim_article.title }}" class="square square-lg" style="object-fit: cover; object-position: center;"></a>
														</div>
													</div>
													<div class="col">
														<div class="entry-title title-sm text-transform-none">
															<h3><a href="{{ sim_article.get_absolute_url }}">{{ sim_article.title }}</a></h3>
														</div>
														<div class="entry-meta mt-2">
															<ul>
																<li>{{ sim_article.time_create }}</li>
																<li><a href="{{ sim_article.get_absolute_url }}#comments"><i class="uil uil-comments-alt"></i> {{ sim_article.comments.count }}</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								{% endif %}
								{% endif %}
								<!-- Comments
								============================================= -->
								{% include 'blog/comments/comments_list.html' %}

							</div>

						</main><!-- .postcontent end -->

						{% include 'blog/includes/sidebar.html' %}
					</div>

				</div>
			</div>
		</section><!-- #content end -->
{% block script %}
<script src="{% static 'portal/js/ratings.js' %}"></script>
{% endblock %}
{% endblock %}

