/* ----------------------------------------------------------------
	Custom styles
-----------------------------------------------------------------*/

:root {
    --cnvs-themecolor-light-rgb: 255, 255, 255;
	--cnvs-themecolor: #e99c34;
	--cnvs-themecolor-rgb: 29, 97, 114;
	--cnvs-custom-themecolor-rgb: 29, 97, 114;
	--cnvs-custom-themecolor: #1d6172;
	--cnvs-secondary-color: #e99c34;
	--cnvs-secondary-color-rgb: 233, 156, 52;
	--cnvs-body-bg: #fff;
	--cnvs-body-bg-light: var(--cnvs-themecolor-light-rgb);
	--cnvs-body-bg-rgb: 58,133,144;
	--cnvs-link-color: #000;

	--cnvs-primary-font: 'Sharp Grotesk', Arial,sans-serif;
    --cnvs-body-font: 'Sharp Grotesk', Arial,sans-serif;

	--cnvs-border-opacity: .15;

	--cnvs-header-bg: var(--cnvs-custom-themecolor);
}

:root .dark {
	--cnvs-themecolor: #fff;
	--cnvs-themecolor-rgb: 255, 255, 255;
	--cnvs-header-bg: var(--cnvs-custom-themecolor);
}

.is-expanded-menu #header.transparent-header.semi-transparent {
  --cnvs-header-bg: rgba(var(--cnvs-custom-themecolor-rgb), .9);
}
#header-wrap {
  background-color: var(--cnvs-header-bg) !important;
}
@media (prefers-reduced-motion: reduce) {
  #header-wrap {
    transition: none;
  }
}

body {
	background-color: var(--cnvs-body-bg);
	background-repeat: repeat-y;
	background-position: center top;
	background-size: 100% auto;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
}

.border-light { border-color: rgba(var(--cnvs-themecolor-rgb), var(--cnvs-border-opacity)) !important; }

.bg-color,
.page-transition-wrap, .css3-spinner { background-color: var(--cnvs-body-bg) !important; }

.bg-color-contact { background-color: var(--cnvs-themecolor) !important; }

.bg-color-white { background-color: rgba(255, 255, 255, 0.95) !important; }
.bg-color-white-form { background-color: rgba(255, 255, 255, 0.1) !important; }
.bg-color-grey { background-color: rgba(255, 255, 255, 0.9) !important; }
.bg-color-card { background-color: rgba(233, 156, 52, 0.9) !important; }
.bg-color-card-light { background-color: rgba(241,199,122, 0.9) !important; }
.bg-color-card-light-about { background-color: rgba(45, 93, 237, 0.3); !important; }

.css3-spinner > div {  background-color: var(--cnvs-themecolor) !important; }

#header {
	--cnvs-primary-menu-font-weight: 500;
	--cnvs-primary-menu-font-size:	0.8rem;
	--cnvs-primary-menu-color: #fff;
	--cnvs-primary-menu-hover-color:var(--cnvs-secondary-color);
	--cnvs-primary-menu-active-color:	var(--cnvs-primary-menu-hover-color);
	--cnvs-primary-menu-tt:	none;
	--cnvs-primary-menu-ls:	0;
	--cnvs-primary-menu-submenu-font-size:	0.775rem;
	--cnvs-primary-menu-submenu-font-weight:	400;
	--cnvs-primary-menu-submenu-hover-font-weight: 500;
	--cnvs-primary-menu-submenu-tt:	none;
	--cnvs-header-misc-icons-size: 1.425rem;
	--cnvs-primary-menu-font: var(--cnvs-body-font);
	--cnvs-primary-menu-submenu-bg: var(--cnvs-themecolor);
	--cnvs-primary-menu-submenu-width: 240px;
	--cnvs-primary-menu-submenu-hover-bg: transparent;
	--cnvs-primary-menu-submenu-color: #fff;
	--cnvs-primary-menu-submenu-hover-color: #fff;
    --cnvs-primary-menu-active-color: var(--cnvs-primary-menu-hover-color);
}


.sub-menu-container .menu-item:not(:first-child) {
  border-top: var(--cnvs-primary-menu-submenu-border);
}


.sub-menu-container .menu-item > .menu-link {
  position: relative;
  padding: 10px 5px;
  font-size: var(--cnvs-primary-menu-font-size);
  font-weight: var(--cnvs-primary-menu-submenu-font-weight);
  color: var(--cnvs-contrast-100) !important;
  letter-spacing: var(--cnvs-primary-menu-submenu-spacing);
  font-family: var(--cnvs-primary-menu-submenu-font);
}
.sub-menu-container .menu-item > .menu-link div {
  position: relative;
}
.sub-menu-container .menu-item:hover > .menu-link {
  --cnvs-primary-menu-submenu-font-weight: var(--cnvs-primary-menu-submenu-hover-font-weight);
}
.sub-menu-container .menu-item .sub-menu-trigger {
  top: 6px;
}
.sub-menu-container .sub-menu-trigger {
  font-size: 10px;
}

/* Custom Header Size
-----------------------------------------------------------------*/

.btn-link:hover { text-decoration: underline !important; }

.ls--1 { letter-spacing: -1px !important; }
.ls--2 { letter-spacing: -2px !important; }

.footer-widgets-wrap li { margin-bottom: 3px; }
.dark .footer-widgets-wrap a { color: #888; }


/* Responsive Device less than 768px (.device-sm <)
-----------------------------------------------------------------*/
@media (max-width: 767.98px) {

	.items-nav li {
		position: relative;
		display: inline-block;
		margin: 5px;
	}

	.items-nav li:not(:last-child):not(.no-divider)::before {
		content: '/';
		position: absolute;
		right: -10px;
		top: 50%;
		color: #AAA;
		transform: translateY(-50%);
	}

	.modal-backdrop { display: block; }

}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {
	#top-account a {
		position: relative;
		display: block;
		z-index: 11;
	}
	.card-img-overlay.bg { background-color: rgba(0, 0, 0, 0.4); }

}

@-webkit-keyframes scrollDown {
	0% {
		top: 10px;
		opacity: 0;
	}
	15% {
		top: 10px;
		opacity: 1;
	}
	30% {
		top: 10px;
		opacity: 1;
	}
	45% {
		top: 28px;
		opacity: 1;
	}
	100% {
		top: 28px;
		opacity: 0;
	}
}
@keyframes scrollDown {
	0% {
		top: 10px;
		opacity: 0;
	}
	15% {
		top: 10px;
		opacity: 1;
	}
	30% {
		top: 10px;
		opacity: 1;
	}
	45% {
		top: 28px;
		opacity: 1;
	}
	100% {
		top: 28px;
		opacity: 0;
	}
}
.scroll-down {
	position: absolute;
	top: auto;
	bottom: 20px;
	left: 50%;
	display: inline-block;
	width: auto;
	margin: 0 auto;
	text-align: center;
	background-color: transparent;
	border: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 9;
	opacity: .8;
}
.scroll-mouse {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 46px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 20px;
}
.scroll-wheel {
	position: absolute;
	top: 14px;
	left: 10px;
	width: 4px;
	height: 4px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-animation: scrollDown 2.5s infinite;
			animation: scrollDown 2.5s infinite;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--cnvs-secondary-color-rgb), var(--bs-bg-opacity)) !important;
}

.button-offset:is(:hover, :focus) {
	outline-width: 3px;
	outline-style: solid;
	outline-color: #e99c34;
	outline-offset: 0;
	transition: all .1s;
}

.button-offset.button-offset-circle {
	outline-color: #e99c34;
	outline-width: 2px;
}

.button-offset:is(:hover, :focus) {
	outline-offset: 3px;
}

.button-offset.button-light {
	outline-color: #e99c34;
}

.button-offset.button-primary {
	outline-color: var(--cnvs-secondary-color);
}

.border-radius {
  --bs-card-border-radius: 0 !important;
  border-radius: 0 !important;
}

.icon-dark { font-family: 'font-icons'; }
.dark .icon-dark { font-family: 'lined-icons'; }
.dark .dark-mode .icon-dark::before { content: "\e9e3"; }
.dark-mode .icon-dark::before { content: "\eae7"; }

.dropdown-langs .dropdown-item {
	font-size: 14px;
}

.dropdown-langs img {
	width: 18px;
	height: 18px;
}

.dropdown-langs .dropdown-toggle::after {
	position: relative;
	font-family: 'font-icons';
	content: "\e998";
	font-size: 10px;
	top: 3px;
	border: 0;
	color: #666;
	margin-left: -5px;
}

.entry::after {
  content: "";
  position: relative;
  height: 1px;
  margin-top: var(--cnvs-post-item-margin);
  background-color: var(--cnvs-contrast-100);
}

.entry::after { background-color: #fff !important; }
.dark .entry::after { background-color: #fff !important; }

.entry-title h3 {
	text-transform: none;
	letter-spacing: 0;
	font-weight: 500;
	font-size: 25px;
}

.entry-title.title-sm h2,
.entry-title.title-sm h3,
.entry-title.title-xs h2,
.entry-title.title-xs h3 {
	font-size: 1.25rem;
	line-height: 1.6;
}
.entry-title.title-xs h2,
.entry-title.title-xs h3,
.entry-title h4 {
	font-size: 0.85rem;
}

.entry-title h4 {
	font-size: 1rem;
	font-weight: 400;
}

.entry-title h2 a,
.entry-title h2 a:hover,
.entry-title h3 a,
.entry-title h3 a:hover,
.entry-title h4 a:hover  { color: var(--cnvs-contrast-900) !important; }


.entry:not(:last-child)::after {
	--cnvs-post-item-margin: 5px;
	display: block;
}

.entry-meta {
	display: block;
	float: none;
	margin: 8px 0 0 0 !important;
}

.entry-content {
	margin-top: 25px;
}

.entry-content p {
	color: #555;
}

.dark .entry-content p { color: rgba(255, 255, 255, 0.7); }

.posts-md .entry-meta,
.posts-md .entry-meta a,
.posts-sm .entry-meta,
.posts-sm .entry-meta a {
	font-size: 14px;
}

.dark .entry-meta li a { color: #AAA !important; }

/* .posts-sm .entry:not(:first-child) .grid-inner,
.posts-md .entry:not(:first-child) .grid-inner {
	padding-top: 1.5rem;
	margin-top: 2rem;
	border-top: 1px solid #E5E5E5;
}

.dark .posts-sm .entry:not(:first-child) .grid-inner,
.dark .posts-md .entry:not(:first-child) .grid-inner {
	border-top-color: rgba(255, 255, 255, 0.25);
} */

.date-today {
	position: relative;
	margin-top: -1.25rem;
	margin-bottom: 1.5rem;
}

.date-today .divider-text {
	color: #777;
	font-size: 0.875rem !important;
	line-height: 1.3;
}

.date-today::after,
.date-today::before {
	background-color: transparent;
	height: 0;
	border-top: 4px double #DDD;
}

.ad-banner {
	text-align: center;
	max-width: 970px;
	margin: 0 auto;
}

.week-posts {
	list-style: none;
}

.week-posts li .entry-image {
	display: none;
}

.week-posts > li {
	counter-increment: step-counter;
}

.week-posts > li .grid-inner::before {
	content: "0" counter(step-counter)'.';
	position: absolute;
	left: 0;
	font-size: 26px;
	font-weight: 700;
	font-family: var(--cnvs-secondary-font);
	color: #DDD;
	line-height: 1;
}

.week-posts > li .grid-inner {
	padding-left: 48px;
}

.dark .week-posts > li::before { color: rgba(255,255,255,0.3); }


/* .fancy-title.title-border::before {
	border-top: 2px solid #888;
	top: 50%;
	margin-top: -1px;
} */

a.more-link {
	font-style: normal;
	border-bottom: none;
	font-size: 0.875rem;
	color: var(--cnvs-contrast-900);
	font-weight: 500;
	text-transform: capitalize;
	text-decoration: underline !important;
}

a.more-link i {
	font-size: 0.875rem;
	margin-left: 0.375rem;
}

.page-title {
	background-color: #ecf2f4;
}


/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	.border-between > [class*='col-']::before {
	   background: #E5E5E5;
	   bottom: 0;
	   content: " ";
	   left: 0;
	   position: absolute;
	   width: 1px;
	   top: 0;
	}

	.dark .border-between > [class*='col-']::before { background: rgba(255, 255, 255, 0.2); }

	.border-between > [class*='col-']:first-child::before { display: none; }

	/* Re-Edit Bootstrap */
	.border-between > [class*='col-'],
	.border-between .container,
	.border-between .container-fluid {
		padding-right: 30px;
		padding-left: 30px;
	}

	.border-between.row {
		margin-right: -30px;
		margin-left: -30px;
	}
}

.btn-sm,
.btn-group-sm > .btn { line-height: 2; }


/* SINGLE PAGE */

.single-post { margin-top: 0px; }

.single-post .entry .entry-title,
.single-post .entry .entry-title h2 {
	max-width: 100%;
	margin: 0 auto;
	text-transform: none;
	letter-spacing: 1px;
}

.single-post .entry .entry-image {
	margin: 25px 0 35px;
}

.single-post .entry-content .text-content {
	position: relative;
	display: block;
	margin-top: 20px;
}

.single-post .entry-content .text-content p {
	font-size: 18px;
	line-height: 1.65 !important;
}

.single-post .entry-content ol.list-numbers {
	padding-left: 15px;
	margin: 30px 20px;
}

.single-post .entry-content ol.list-numbers li {
	font-size: 19px;
	line-height: 1.5;
	list-style-type: decimal;
	margin-top: 1.5rem;
	font-family: var(--cnvs-primary-font,  'Domine', serif);
}

.single-post .media-content .entry-title { display: none; }

.single-post .si-share {
	display: block;
	border-bottom: 1px solid #EEE;
	margin-bottom: 20px;
	padding: 0 0 20px 0;
}

.single-post .si-share h5 {
	font-weight: 500;
	opacity: .7;
	margin-bottom: 8px;
}

.related-posts .entry-title h3 {
	font-size: 20px;
	margin-top: 10px;
}

#comments label {
	text-transform: none;
	letter-spacing: 0;
	font-weight: 400;
	margin-bottom: 5px;
	opacity: .7;
}

.comment-content p {
	font-size: 17px;
	line-height: 1.6 !important;
}

.comment-content .comment-author span,
.comment-content .comment-author span a {
	font-style: normal;
	font-family: var(--cnvs-primary-font);
	margin-top: 4px;
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {
	.single-post .media-content .entry-title {
		display: block;
		border-bottom: 1px solid #EEE;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.single-post .media-content .entry-title h4 {
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 0;
	}

	.single-post .si-share {
		display: block;
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.single-post .entry-content .media-content {
		display: block;
		position: -webkit-sticky;
		position: sticky;
		top: 214px;
		left: 0;
		height: 100%;
		max-width: 200px;
	}

	/*.single-post .entry-content .text-content {
		max-width: 700px;
		margin-top: -170px;
		margin-right: auto;
		margin-left: auto;
	}*/
}


.page-title h1 {
	font-family: var(--cnvs-body-font);
}

.page-title.page-title-center span {
	margin-top: 20px;
	max-width: 600px;
}


.slider-element .slider-product-desc {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    width: 35%;
    z-index: 2;
    overflow: hidden;
    background-color: rgba(16, 75, 120, 0.8);
}

.slider-element .slider-product-desc a .bi-play {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #FFF;
    border-radius: 50%;
    text-align: center;
    padding-left: 4px;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}

.slider-element .slider-product-desc a:hover .bi-play {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.section-colored { background-color: #FFEAE6; }


.dotted-bg:before {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 110%;
	height: 100%;
	background-size: 12px 12px;
	background-position: center;
	transform: translate(-50%, -50%);
	background-image: radial-gradient(rgba(var(--cnvs-themecolor-rgb),0.3) 14%, transparent 14%);
	-webkit-mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
	mask-image: radial-gradient(rgba(0,0,0,1),rgba(0,0,0,0) 75%);
	z-index: 0;
}

.flex-prev,
.flex-next {
	--right: 70px;
	--size: 36px;
	top: auto;
	bottom: 22px;
	left: calc(50% + 22px);
	right: 70px;
	right: var(--right);
	margin-top: 0;
	background-color: transparent !important;
	width: 42px;
	width: var(--size);
	height: 42px;
	height: var(--size);
	border: 0;
	border-radius: 50%;
	transform: translateX(-50%);
	transition: all .4s ease;
}

.flex-prev,
.flex-next {
	opacity: 0;
	top: 50%;
	bottom: auto;
	left: auto;
	right: 4px;
	transform: translateY(-50%);
}

.announce:hover .flex-prev,
.announce:hover .flex-next { opacity: 1; background-color: transparent !important;}

.flex-prev { left: 4px;}

.flex-prev i,
.flex-next i {
	line-height: 42px;
	line-height: var(--size);;
	width: 42px;
	width: var(--size);
	height: 42px;
	height: var(--size);
	color: #DDD;
	color: var(--cnvs-themecolor);
	text-shadow: none;
	font-size: 24px;
	margin-left: 2px;
	transition: color .4s ease;
}

.flex-prev i { margin-left: 0;}

.flex-prev:hover i,
.flex-next:hover i  { color: #fff;}

.flex-control-nav li {
background-color: transparent !important;
	float: none;
	display: block;
	margin: 3px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}


.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
					animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
						transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
						transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
						transform: translateY(0);
		opacity: 1;
	}
}


.testi-content {
	margin-top: 20px;
}

.testi-content p {
	font-style: normal;
	font-size: 1.15rem;
	font-weight: 300;
}

.testi-meta {
	margin-top: 25px;
		font-size: 22px;
		text-transform: none;
		color: var(--cnvs-themecolor);
		font-family: var(--cnvs-primary-font);
}
.testi-meta::before { display: none; }
.testi-meta span {
	font-family: var(--cnvs-body-font);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}

.dark #copyrights p,
.dark .copyright-links a {
	font-weight: 400;
	opacity: .4;
}

#toast-container > div {
	border-radius: 4px;
	font-size: .925rem;
	opacity: .95;
	border: 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.toast-success {
	background-color: var(--cnvs-themecolor) !important;
	color: var(--cnvs-secondary-color) !important;
}

.toast-message strong {
	text-decoration: underline;
	text-transform: capitalize;
}

.testimonial-quotes::before {
	content: open-quote;
}

.testimonial-quotes::after {
	content: close-quote;
}


.grid-border {
	--cnvs-grid-border-width: 1px;
	--cnvs-grid-border-color: var(--cnvs-themecolor);
	--cnvs-grid-border-opacity: var(--cnvs-border-opacity);

	overflow: inherit;
	border: var(--cnvs-grid-border-width) solid rgba(var(--cnvs-themecolor-rgb), var(--cnvs-border-opacity));
}

.menu-link {
  --cnvs-primary-menu-padding-y: 14px;
  --cnvs-primary-menu-padding-x: 5px;
  display: block;
  line-height: 22px;
  padding: var(--cnvs-primary-menu-padding-y) var(--cnvs-primary-menu-padding-x);
  color: var(--cnvs-primary-menu-color);
  font-weight: var(--cnvs-primary-menu-font-weight);
  font-size: var(--cnvs-primary-menu-font-size);
  font-family: var(--cnvs-primary-menu-font);
  text-transform: var(--cnvs-primary-menu-tt);
  letter-spacing: var(--cnvs-primary-menu-ls);
}

@media (max-width: 991.98px) {
	.menu-item:hover .menu-link::after,
	.menu-item.current .menu-link::after {
		content: none;
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.menu-link {
		font-size: 10px;
	}
}

.btn-border {
	--btn-y-padding: 10px;
	--btn-x-padding: 17px;
	--bs-btn-hover-border-color: inherit;
	padding: 0;
	display: inline-flex;
	align-items: center;
	font-family: var(--cnvs-primary-font);
	border: 1px solid rgba(var(--cnvs-themecolor-rgb), var(--cnvs-border-opacity));
	overflow: hidden;
	letter-spacing: 1px;
	font-size: 14px;
}

.btn-border-light {
	--btn-y-padding: 10px;
	--btn-x-padding: 17px;
	--bs-btn-hover-border-color: inherit;
	padding: 0;
	display: inline-flex;
	align-items: center;
	font-family: var(--cnvs-primary-font);
	border: 1px solid rgba(16, 70, 92, 0.2);
	overflow: hidden;
	letter-spacing: 1px;
	font-size: 14px;
}

.btn-border-light.size-lg,
.btn-border.size-lg {
	--btn-y-padding: 15px;
	--btn-x-padding: 20px;
}

.btn-border-light.size-sm,
.btn-border.size-sm {
	--btn-y-padding: 7px;
	--btn-x-padding: 13px;
}

.btn-border-light i,
.btn-border i {
	font-size: 18px;
	padding: var(--btn-y-padding, 10px) var(--btn-x-padding, 17px);
	border-right: 1px solid rgba(var(--cnvs-themecolor-rgb), var(--cnvs-border-opacity));
}

.btn-border-light span,
.btn-border span {
	position: relative;
	padding: calc(var(--btn-y-padding, 10px) + 5px) var(--btn-x-padding, 17px);
}

.menu-link::after,
.menu-link .menu-link::after,
.btn-border span::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 3px;
	background-color: var(--cnvs-custom-themecolor);
	transition: width .5s cubic-bezier(.645, .045, .355, 1);
}

.menu-link::after,
.menu-link .menu-link::after,
.btn-border-light span::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 3px;
	background-color: var(--cnvs-secondary-color);
	transition: width .5s cubic-bezier(.645, .045, .355, 1);
}

.btn-border span::before {
	height: 100%;
	background-color: rgba(var(--cnvs-themecolor-rgb), 0.075);
}

.btn-border-light span::before {
	height: 100%;
	background-color: rgba(16, 70, 92, 0.075);
}

.menu-item:hover > .menu-link {
  color: var(--cnvs-primary-menu-hover-color);
}

.menu-item:hover .menu-link::after,
.menu-item.current .menu-link::after,
.btn-border:hover span::before,
.btn-border-light:hover span::before {
	width: 100%;
}

.one-page-arrow {
    bottom: 40px;
    left: 40px;
    right: auto;
}


.entry-title h3 {
	font-weight: 300;
}

.entry-meta {
	margin-top: 5px;
	margin-bottom: 5px;
}

.entry-meta li {
	font-size: 0.875rem;
}

.entry-meta li a:not(:hover) {
	color: #AAA;
}

.entry-icons {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.entry-icons li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}

.entry-icons a {
	font-weight: 600;
	color: #EEE;
}

.entry-icons span {
	opacity: 0;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 0;
	font-size: 11px;
	font-weight: 600;
	font-family: var(--cnvs-body-font);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
}

.entry:hover .entry-icons span {
	opacity: 1;
	-webkit-transform: translate(-50%, -13px);
	transform: translate(-50%, -13px);
}

.owl-carousel.fixed-nav:hover .owl-nav [class*=owl-],
.owl-carousel.fixed-nav .owl-nav [class*=owl-] {
	top: auto !important;
	margin-top: 0 !important;
	left: auto !important;
	bottom: 10px !important;
	right: 30px !important;
	font-size: 14px !important;
	width: 26px !important;
	height: 26px !important;
	border-radius: 3px !important;
	line-height: 25px !important;
	opacity: 1 !important;
}

.owl-carousel.fixed-nav:hover .owl-nav .owl-next,
.owl-carousel.fixed-nav .owl-nav .owl-next {
	left: auto !important;
	right: 0 !important;
}

.owl-carousel.fixed-nav .owl-nav .disabled {
	opacity: .4 !important;
	display: block !important;
	cursor: auto !important;
}

.owl-carousel.fixed-nav.top-nav:hover .owl-nav [class*=owl-],
.owl-carousel.fixed-nav.top-nav .owl-nav [class*=owl-] {
	top: -44px !important;
	bottom: auto !important;
}

.owl-carousel.fixed-nav .owl-nav [class*=owl-]:hover {
	background-color: inherit !important;
	color: inherit !important;
}

.entry-meta ul + ul li:first-child::before { content: none; }

.img-overlap+div {
	padding: 40px;
}

@media (min-width: 992px) {
	.img-overlap img {
		width: calc(100% + 30%);
		max-width: none;
	}

	.img-overlap + div {
		border-radius: 0.3rem;
		padding: 60px;
	}

}

.bg-color .ticker-wrap .ticker-item {
	text-shadow: -1px 0 #FFF,
		0 1px #FFF,
		1px 0 #FFF,
		0 -1px #FFF;
}

.not-dark .is-expanded-menu .menu-container > .menu-item {
	--cnvs-primary-menu-hover-color: #FFF !important;
	--cnvs-primary-menu-active-color: #FFF !important;
	color: var(--cnvs-primary-menu-color);

}

.section {
    background-color: #1660aafc;
}

.menu-live-center {
	display: inline-block;
	margin-left: 6px;
}
.menu-live-center .ml-dot {
	background: #E03C31;
	position: relative;
	top: 1px;
}
.menu-live-center .ml-circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: 0px 0px 1px 1px #0000001a;
}
.menu-live-center .ml-pulse {
	animation: ml-pulse-animation 2s infinite;
}
@keyframes ml-pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(219, 33, 33, 0.3);
	}
	100% {
		box-shadow: 0 0 0 10px rgba(219, 33, 33, 0);
	}
}

.endless_container {
	text-align: center;
	margin-top: 50px;
}

.main-slider__container {
    height: 100vh;
    min-height: 700px;
}

.slider-caption h2, .slider-caption .h2 {
        font-size: 4.0rem;
        letter-spacing: 2;
        text-transform: none;
        font-weight: 500;
        line-height: 60px;
        margin-bottom: 14px;
    }

.main-slider__content {
    padding-top: 50px;
    max-width: 750px;
    position: relative;
    }

.slider-caption p {
    font-size: 2.1rem;
    margin-top: 0.0rem;
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 767.98px) {
    .main-slider__container {
        height:450px;
        min-height: auto;
    }
    .slider-caption h2, .slider-caption .h2 {
        font-size: 1.5rem;
        letter-spacing: 0;
        text-transform: none;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .slider-caption p {
        font-size: 1.2rem;
        margin-top: 1.8rem;
        margin-bottom: 0.75rem;
    }

    .main-slider__content {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 1440px) {
    .main-slider__container {
        height: 520px;
        min-height: 520px;
    }
    .slider-caption h2, .slider-caption .h2 {
        font-size: 2.2rem;
        letter-spacing: 0;
        text-transform: none;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 14px;
    }

    .slider-caption p {
        font-size: 1.5rem;
        margin-top: 2.2rem;
        margin-bottom: 0.75rem;
    }
    .main-slider__content {
        padding-top: 100px;
        max-width: 650px;
    }

}


.entry:not(:last-child)::after {
	--cnvs-post-item-margin: 30px;
	display: block;
}
.entry::after {
    background-color: #fff !important;
}

.entry.border-0:not(:last-child)::after {
	--cnvs-post-item-margin: 0px;
	display: block;
}
.entry.border-0::after {
    background-color: transparent !important;
}

#logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 0;
  max-height: 100%;

#comments {
  position: relative;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 3px solid var(--cnvs-contrast-100);
}

.commentlist li .children .comment-avatar {
    left: -35px !important;
}
.comment-avatar {
    background: #3463b8 !important;
    border: 1px solid var(--cnvs-contrast-200) !important;
}

.commentlist ul .comment-wrap {
  margin-left: 1.5rem;
  padding-left: 0 !important;
}


.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--cnvs-themecolor-rgb) !important;
    --bs-dropdown-bg: #fff !important;
}
