}
@font-face {
    font-family: 'BOWLER';
    src: url('BOWLER.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Floripa';
    src: url('Floripa.ttf');
    src: local('☺'), url('Floripa.ttf') format('ttf'), url('Floripa.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}