{% load el_pagination_tags %}
{% load static %}
<style>
.color-underline {
	background-image: linear-gradient(rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3), rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3));
	background-repeat: no-repeat;
	background-size: 0 8px;
	background-position: 0 82%;
	padding: 0 2px 2px 0;
	transition: background .6s cubic-bezier(.19,1,.22,1);
}
.color-underline:hover { background-size: 100% 8px; }
</style>
{% paginate 9 articles %}

{% for post in articles %}
<article class="col-12 col-sm-6 col-md-4 pf-media pf-icons">
    <div class="grid-inner">
        <div class="portfolio-image">
            {% if post.image %}<img src="{{ post.image.url }}" alt="">{% else %}<img src="{% static 'portal/images/no_image.webp' %}" alt="Image">{% endif %}
        </div>
        <div class="portfolio-desc">
            <span class="mb-2">{{ post.time_create }}</span>
            <h5><a href="{{ post.get_absolute_url }}" class="stretched-link color-underline">{{ post.title }}</a></h5>
        </div>
    </div>
</article>
{% endfor %}

{% show_more "Показать еще" "Загрузка..." class_name='btn button rounded-1 button-border m-0 size-lg mt-6 button-reveal' %}
