{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
.bg-color-title, .bg-color-title #header-wrap {
background-color: #336576 !important;
}
</style>
<!-- Page Title
============================================= -->
<section class="page-title bg-color-title page-title-center dark">
	<div class="container">
		<div class="page-title-row">
			<div class="page-title-content text-uppercase">
				<h2 class="mb-3">{{ item.title }}</h2>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
					<li class="breadcrumb-item"><a href="{% url 'articles_list_url' %}">Статьи</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
				</ol>
			</nav>
		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container">

            <div class="row gx-5 col-mb-80">
                <!-- Post Content
                ============================================= -->
                <main class="postcontent col-lg-9">

                    <div class="single-post mb-0">

                        <!-- Single Post
                        ============================================= -->
                        <div class="entry">
                            <!-- Entry Image
                            ============================================= -->
                            <div class="entry-image">
                                <img src="{{ item.image.url }}" alt="">
                            </div><!-- .entry-image end -->

                            <!-- Entry Content
                            ============================================= -->
                            <div class="entry-content mt-0">

                                <div class="card border-default mb-4">
                                    <div class="card-body py-2">
                                        <div class="row align-items-center justify-content-between fs-6">
                                            <div class="col-md-auto text-muted"><i class="uil uil-schedule"></i> {{ item.time_create }}</div>

                                            <div class="col-md-auto">
                                                <div class="d-flex">
                                                    <div class="font-sizer" data-step="20" data-target=".entry-content">
                                                        <button type="button"
                                                                class="font-size-minus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1">
                                                            <i class="bi-type" style="font-size: 12px;"></i></button>
                                                        <button type="button"
                                                                class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1">
                                                            <i class="bi-type" style="font-size: 20px;"></i></button>
                                                    </div>

                                                    <button type="button"
                                                            class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1"
                                                            onclick="window.print();"><i class="bi-printer"></i>
                                                    </button>

                                                    <button type="button"
                                                            class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1"
                                                            data-scrollto="#cnvs-article-share"><i class="bi-share"></i>
                                                    </button>
                                                    {% if item.author.id == user.id or user.is_superuser or user.is_staff%}
                                                    <button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1"><a href="{{ item.get_update_url }}"><i class="bi-pencil-square"></i></a></button>
                                                    <button type="button" class="font-size-plus btn btn-outline-secondary border-contrast-200 h-bg-contrast-200 h-text-contrast-900 border-0 ms-1"><a href="{{ item.get_delete_url }}"><i class="bi-x-circle"></i></a></button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{ item.content|safe }}
                                <!-- Post Single - Content End -->


                                <!-- Post Single - Share
                                ============================================= -->
                                <div id="cnvs-article-share" class="card border-default my-4">
                                    <div class="card-body p-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h6 class="fs-6 fw-semibold mb-0">Поделиться:</h6>
                                            <div class="d-flex">
                                                <a href="#"
                                                   class="social-icon si-small text-white border-transparent rounded-circle bg-vk"
                                                   title="VK">
                                                    <i class="fa-brands fa-vk"></i>
                                                    <i class="fa-brands fa-vk"></i>
                                                </a>

                                                <a href="#"
                                                   class="social-icon si-small text-white border-transparent rounded-circle bg-x-twitter"
                                                   title="Twitter">
                                                    <i class="fa-brands fa-x-twitter"></i>
                                                    <i class="fa-brands fa-x-twitter"></i>
                                                </a>

                                                <a href="#"
                                                   class="social-icon si-small text-white border-transparent rounded-circle bg-pinterest"
                                                   title="Pinterest">
                                                    <i class="fa-brands fa-pinterest-p"></i>
                                                    <i class="fa-brands fa-pinterest-p"></i>
                                                </a>

                                                <a href="#"
                                                   class="social-icon si-small text-white border-transparent rounded-circle bg-whatsapp"
                                                   title="Whatsapp">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </a>
                                                <a href="#"
                                                   class="social-icon si-small text-white border-transparent rounded-circle bg-email3 me-0"
                                                   title="Mail">
                                                    <i class="fa-solid fa-envelope"></i>
                                                    <i class="fa-solid fa-envelope"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Post Single - Share End -->

                            </div>
                        </div><!-- .entry end -->

                        <!-- Post Navigation
                        ============================================= -->
                        <div class="row text-center text-md-start justify-content-between my-5">
                            <div class="col-md-auto">
                                {% if prev %}
                                <a href="{{ prev.get_absolute_url }}" class="d-inline-flex align-items-center text-dark h-text-color"><i
                                        class="uil uil-angle-left-b fs-3 me-1"></i><span>Предыдущая статья</span></a>
                                {% else %}
                                <a href="" class="d-none d-inline-flex align-items-center text-dark h-text-color disabled" aria-disabled="true"><i
                                        class="uil uil-angle-left-b fs-3 me-1"></i><span>Предыдущая статья</span></a>
                                {% endif %}
                            </div>
                            <div class="col-md-auto">
                                {% if next %}
                                <a href="{{ next.get_absolute_url }}" class="d-inline-flex align-items-center text-dark h-text-color"><span>Следующая статья</span><i
                                        class="uil uil-angle-right-b fs-3 ms-1"></i></a>
                                {% else %}
                                <a href="" class="d-none d-inline-flex align-items-center text-dark h-text-color"><span>Следующая статья</span><i
                                        class="uil uil-angle-right-b fs-3 ms-1"></i></a>
                                {% endif %}
                            </div>
                        </div><!-- .post-navigation end -->
                    </div>
                </main><!-- .postcontent end -->

                <!-- Sidebar
                ============================================= -->
                <aside class="sidebar col-lg-3">
                    <div class="col-lg-12">
                            <div class="title-block">
                                <h5>Читайте также:</h5>
                            </div>
                        </div>
                    <div class="sidebar-widgets-wrap">

                        <div class="widget">
                            <div class="posts-sm row col-mb-30">
                                {% for n in articles %}
                                <!-- Post Article -->
                                <div class="entry col-12">
                                    <div class="grid-inner row align-items-center g-0">
                                        <div class="col ps-3">
                                            <div class="entry-title">
                                                <h4><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h4>
                                            </div>
                                            <div class="entry-meta">
                                                <ul>
                                                    <li>{{ n.time_create }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </aside><!-- .sidebar end -->
            </div>

        </div>
    </div>
</section><!-- #content end -->

{% endblock %}