{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	<title>{{ title }}{% if site_settings.alter_title %} - {{ site_settings.alter_title }}{% endif %}</title>
{% endblock %}
{% block content %}
<style>
    .bg-color-profile, .bg-color-profile #header-wrap {
    background-color: rgb(140, 119, 25), var(--bs-bg-opacity, 1)) !important;
}
</style>
<!-- Page Title
============================================= -->
<section class="page-title bg-color-profile border-bottom-0">
    <div class="container">
        <div class="page-title-row">

            <div class="page-title-content">
                <div class="d-flex align-items-center">
                    <img src="{{ profile.avatar.url }}" alt="{{ profile }}" class="rounded-circle me-3 border border-width-3 border-white" width="120" height="120">
                    <div>
                        <h2 class="h1 border-bottom border-dark border-width-4" style="font-weight: 800">{{ profile.user.username }}</h2>
                        {% if profile.user.is_superuser or profile.user.is_staff %}
                            <p class="mb-0">Роль: <strong>{% translate 'Администрация сайта' %}</strong></p>
                        {% else %}
                            <p class="mb-0">Роль: <strong>Посетитель сайта</strong></p>
                        {% endif %}
                        <p class="mb-0">Заходил: {{ profile.user.last_login }} | {% if profile.is_online %}Онлайн{% else %}Не в сети{% endif %}</p>

                    </div>
                </div>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="alt-color" href="{% url 'main' %}">Главная</a></li>
                    <li class="breadcrumb-item text-black-50 active" aria-current="page">{{ profile.user.username }}</li>
                </ol>
            </nav>

        </div>
    </div>
</section>

<!-- Page Sub Menu
============================================= -->
<div id="page-menu" class="no-sticky">
    <div id="page-menu-wrap" class="bg-alt">
        <div class="container">
            <div class="page-menu-row">

                <nav class="page-menu-nav">
                    <ul class="page-menu-container">
                        <li class="page-menu-item current"><a href="{{ profile.get_absolute_url }}"><div>Профиль</div></a></li>
                        <li class="page-menu-item"><a href="{% url 'profile_blog_list' slug=profile.slug %}"><div>Записи в блоге</div></a></li>
                        {% if user.is_superuser or user.is_staff %}
                        <li class="page-menu-item"><a href="{% url 'profile_news_list' slug=profile.slug %}"><div>Опубликованные новости</div></a></li>
                        <li class="page-menu-item"><a href="{% url 'profile_articles_list' slug=profile.slug %}"><div>Опубликованные статьи</div></a></li>
                        {% endif %}
                        {% if profile.user.id == user.id %}<li class="page-menu-item"><a href="{% url 'profile_edit' slug=profile.slug %}"><div>Редактировать</div></a></li>{% endif %}
                        {% if profile.user.id == user.id %}<li class="page-menu-item"><a href="{% url 'password_change' slug=profile.slug %}"><div>Изменить пароль</div></a></li>{% endif %}

                    </ul>
                </nav>

                <div id="page-menu-trigger"><i class="bi-list"></i></div>

            </div>
        </div>
    </div>
</div><!-- #page-menu end -->

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap" style="background-color: #f3f3f3;">
        <div class="container mw-md">

            <h3 class="h3 fw-bolder mb-4">Профиль пользователя</h3>

            <div class="row col-mb-30 gutter-50">
                <div class="col-md-12 p-4"  style="border: 1px solid #ccc;background-color: #fff;">
                    <ul class="list-unstyled mb-0">
                        <li class="py-2 text-larger">Никнейм: <strong>{{ profile.user.username }}</strong></li>
                        {% if profile.user.get_full_name %} <li class="py-2 text-larger">Имя и фамилия: <strong>{{ profile.user.get_full_name }}</strong></li>{% endif %}
                        <li class="py-2 text-larger">Заходил:  <strong>{{ profile.user.last_login }}</strong></li>
                        <li class="py-2 text-larger">Email: <strong>{{ profile.user.email }}</strong></li>
                        {% if profile.birth_date %}<li class="py-2 text-larger">Дата рождения: <strong>{{ profile.birth_date }}</strong></li>{% endif %}
                        {% if profile.bio %}<li class="py-2 text-larger">О себе: <strong>{{ profile.bio }}</strong></li>{% endif %}
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section><!-- #content end -->
{% endblock %}