{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
.bg-color-title, .bg-color-title #header-wrap {
background-color: #336576 !important;
}
</style>
<!-- Page Title
============================================= -->
<section class="page-title bg-color-title page-title-center dark">
	<div class="container">
		<div class="page-title-row">
			<div class="page-title-content text-uppercase">
				<h2 class="mb-3">{{ title }}</h2>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
				</ol>
			</nav>
		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap" style="background-color: #f3f3f3;">
        <div class="container mw-md">
            <div class="row col-mb-30 gutter-50">
                  <div class="col-md-12 p-4" style="border: 1px solid #ccc; border-radius: 5px; background-color: #fff; box-shadow: 0 0 40px rgba(0,0,0,.09)">
                      <form method="post" action="">
                        {% csrf_token %}
                        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                              {% for error in form.non_field_errors %}
                                <div class="alert alert-danger .alert-dismissible" role="alert">
                                    <div class="text-left">
                                      <strong>Ошибка:</strong> {{ error }}<br />
                                    </div>
                                  </div>
                              {% endfor %}
                            </div>

                            {% for field in form %}
                              <div class="col-12 form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field autofocus="" %}

                                <div class="{% if field.errors %} alert alert-danger .alert-dismissible mt-2{% endif %}">
                                  {% for error in field.errors %}
                                    <p class="help-block mb-0">{{ error }}</p>
                                  {% endfor %}
                                </div>
                              </div>
                            {% endfor %}
                        <div class="d-grid gap-2 d-md-block mt-2">
                           <button type="submit" class="btn button rounded-1 button-border m-0 size-lg mt-4 button-reveal fadeInUp animated"><i class="bi-check-circle"></i><span>Подтвердить</span></button>
                        </div>
                     </form>
                  </div>
            </div>

        </div>

    </div>
</section><!-- #content end -->
{% endblock %}
