{% load static %}


<style>
    :not(.dark) .entry-categories a {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	color: #333;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.dark .entry-categories a {
	color: var(--cnvs-themecolor);
}

.bg-categories,
.bg-color-categories.nav-link:hover,
.menu-color-categories > a::before,
.bg-color-categories.nav-link.active { background: #17A2B8 !important; }

.color-underline {
	background-image: linear-gradient(rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3), rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3));
	background-repeat: no-repeat;
	background-size: 0 8px;
	background-position: 0 82%;
	padding: 0 2px 2px 0;
	transition: background .6s cubic-bezier(.19,1,.22,1);
}

.color-underline:hover { background-size: 100% 8px; }


.slider {
  display: flex;
}

.block {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  transition: all 0.3s;
}

.block.active {
  background-color: #ffcc00;
  transform: scale(1.1);
}

.slider:hover .block {
  background-color: #f0f0f0;
}

.slider:hover .block.active {
  background-color: #ffcc00;
}




</style>

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-0 my-0">
    <div class="container">
        <div class="row">
            <!-- Posts Area
            ============================================= -->
            <div class="col-lg-9">
                <!-- Tab Content 2
                ============================================= -->
                <div class="col-lg-12">
                    <div class="fancy-title title-border">
                        <h4>Актуальные статьи</h4>
                    </div>
                </div>
                <div class="row border-between">
                    <div class="col-lg-12 mb-5 mb-lg-0">
                        <!-- Post Article -->
                        <article class="entry border-bottom-0 mb-0">
                            <div class="entry-image">
                                <a href="demo-blog-single.html"><img src="{% static 'portal/images/7777.jpg' %}"
                                                                     alt="Image 3"></a>
                            </div>
                            <div class="entry-title">
                                <h3><a href="demo-blog-single.html"
                                       class="stretched-link color-underline"><span>Statement from Vice President Joe Biden on Record Number of Americans Filing for Unemployment</span></a>
                                </h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Mar 11, 2016</a></li>
                                </ul>
                            </div>

                        </article>
                    </div>
                </div>

                <!-- Ad
                ============================================= -->
                <a href="#"><img src="{% static 'portal/images/ad.jpg' %}" width="728" alt="Ad" class="aligncenter mb-5 mt-5"></a>

                <div class="col-12 mt-5">
                    <div class="fancy-title title-border">
                        <h4>Другие статьи</h4>
                    </div>
                    <div class="row posts-md col-mb-30">
                        <div class="entry col-sm-4 col-xl-3">
                            <div class="grid-inner">
                                <div class="entry-image">
                                    <a href="#"><img src="{% static 'portal/images/3333.jpg' %}"
                                                     alt="Image"></a>
                                </div>
                                <div class="entry-title title-xs text-transform-none">
                                    <h3><a href="blog-single.html" class="stretched-link color-underline">Yum,
                                        McDonald's apologize as new China food scandal brews</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="uil uil-schedule"></i> 9th Sep 2021</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="entry col-sm-4 col-xl-3">
                            <div class="grid-inner">
                                <div class="entry-image">
                                    <a href="#"><img src="{% static 'portal/images/1111.jpg' %}"
                                                     alt="Image"></a>
                                </div>
                                <div class="entry-title title-xs text-transform-none">
                                    <h3><a href="blog-single.html" class="stretched-link color-underline">Halliburton
                                        gets boost from rebound in North America drilling</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="uil uil-schedule"></i> 23rd Aug 2021</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="entry col-sm-4 col-xl-3">
                            <div class="grid-inner">
                                <div class="entry-image">
                                    <a href="#"><img src="{% static 'portal/images/4444.jpg' %}"
                                                     alt="Image"></a>
                                </div>
                                <div class="entry-title title-xs text-transform-none">
                                    <h3><a href="blog-single.html" class="stretched-link color-underline">China
                                        sends spy ship off Hawaii during U.S.-led drills brews</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="uil uil-schedule"></i> 11th Feb 2021</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="entry col-sm-4 col-xl-3">
                            <div class="grid-inner">
                                <div class="entry-image">
                                    <a href="#"><img src="{% static 'portal/images/2222.jpg' %}"
                                                     alt="Image"></a>
                                </div>
                                <div class="entry-title title-xs text-transform-none">
                                    <h3><a href="blog-single.html" class="stretched-link color-underline">China
                                        sends spy ship off Hawaii during U.S.-led drills brews</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="uil uil-schedule"></i> 11th Feb 2021</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-auto col-md-10 border-0 mt-5">
                        <div class="col-12 text-center">
                            <a href="#" class="btn rounded-0 btn-border-light w-auto size-sm mt-4"><span
                                    class="flex-grow-1">Перейти к статьям</span><i
                                    class="bi-arrow-right border-start border-end-0"></i></a>
                            <!--  <button class="w-auto m-0 btn rounded-0 btn-border color" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Отправить отзыв</button>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--        &lt;!&ndash; Ad-->
            <!--        ============================================= &ndash;&gt;-->
            <!--        <a href="#"><img src="{% static 'portal/images/ad.jpg' %}" width="728" alt="Ad" class="aligncenter mb-5"></a>-->
            <!-- Top Sidebar Area
            ============================================= -->
            <div class="col-lg-3 sticky-sidebar-wrap mt-5 mt-lg-0">
                <div class="sticky-sidebar">
                    <!-- Sidebar Widget 2
                    ============================================= -->
                    <div class="widget">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-signin">
                                    <div class="text-center">
                                        <i class="bi-envelope text-muted mb-3"
                                           style="font-size: 48px;line-height: 1"></i>
                                        <h3 class="h3 mb-3 fw-normal font-primary">Подпишитесь на наши новости</h3>
                                    </div>

                                    <div class="form-label-group mb-5">
                                        <input type="email" id="inputEmail" class="form-control" required
                                               placeholder="Адрес Email">
                                    </div>
                                    <button class="btn btn-lg bg-color text-white w-100 text-uppercase ls-1"
                                            type="submit">Подписаться
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Widget 3
                    ============================================= -->
                    <div class="widget">
                        <a href=""><img src="{% static 'portal/images/ad.png' %}" alt="Ad"
                                        class="img-responsive aligncenter"></a>
                    </div>
                </div>
            </div> <!-- Sidebar End -->
        </div>
    </div>
</div>

