{% load static %}
<div id="section-blogs" class="section page-section mt-0 mb-0"
     style="padding: 150px 0 150px 0; background-color: rgba(61,128,228,0.4)">
<div class="shape-divider" data-shape="wave-4" data-height="150" id="shape-divider-4816"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 140" preserveAspectRatio="none" class="op-ts op-1"><path class="shape-divider-fill" d="M0 51.76c36.21-2.25 77.57-3.58 126.42-3.58 320 0 320 57 640 57 271.15 0 312.58-40.91 513.58-53.4V0H0z" opacity="0.3"></path><path class="shape-divider-fill" d="M0 24.31c43.46-5.69 94.56-9.25 158.42-9.25 320 0 320 89.24 640 89.24 256.13 0 307.28-57.16 481.58-80V0H0z" opacity="0.5"></path><path class="shape-divider-fill" d="M0 0v3.4C28.2 1.6 59.4.59 94.42.59c320 0 320 84.3 640 84.3 285 0 316.17-66.85 545.58-81.49V0z"></path></svg></div>
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border">
                <h2>Блоги / Видео и подкасты</h2>
            </div>
        </div>

        <!-- Owl Carousel
        ============================================= -->
        <div id="oc-blogs" class="owl-carousel portfolio-carousel carousel-widget posts-md customjs" data-loop="true"
             data-autoplay="4000" data-speed="500">
            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/9999.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">Первые впечатления из Ташкента в объективе Артура Мейснера</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">EquiMedia</a></li>
                                    <li><i class="bi-clock"></i><a href="#">06 Май 2024</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/8888.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">Встать, суд идет! Громкие дела конного мира</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">Автор неизвестен</a></li>
                                    <li><i class="bi-clock"></i><a href="#">02 Май 2024</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/4444.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">Подготовка к Кубку вице-президента ФКС Узбекистана в КСК «Виват, Россия!» уже началась!</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">26 Апрель 2024</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/8888.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">Дарья Самохина вырвала победу у Евгения Овчаренко в Гран-при 150 см в КСК «Golden Horse»!</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">25 Апрель 2024</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/9999.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">Наталья Шадрина – абсолютная победительница Большого круга на всероссийских соревнованиях по выездке в КСК «Виват, Россия!»</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">Forlap</a></li>
                                    <li><i class="bi-clock"></i><a href="#">18 Апрель 2024</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Carousel End -->
        <div class="m-auto col-md-10 border-0">
            <div class="col-12 text-center">
                <a href="#"
                   class="btn button rounded-1 button-border m-0 size-lg mt-4 button-reveal d-inline-flex fadeInUp animated"
                   data-animate="fadeInUp" data-delay="300"><i class="bi-arrow-right"></i><span>Перейти в раздел</span></a>
            </div>
        </div>
    </div>
<div class="shape-divider" data-shape="wave-4" data-fill="#42649e" data-position="bottom" data-height="150" id="shape-divider-6782"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 140" preserveAspectRatio="none" class="op-ts op-1"><path class="shape-divider-fill" d="M0 51.76c36.21-2.25 77.57-3.58 126.42-3.58 320 0 320 57 640 57 271.15 0 312.58-40.91 513.58-53.4V0H0z" opacity="0.3"></path><path class="shape-divider-fill" d="M0 24.31c43.46-5.69 94.56-9.25 158.42-9.25 320 0 320 89.24 640 89.24 256.13 0 307.28-57.16 481.58-80V0H0z" opacity="0.5"></path><path class="shape-divider-fill" d="M0 0v3.4C28.2 1.6 59.4.59 94.42.59c320 0 320 84.3 640 84.3 285 0 316.17-66.85 545.58-81.49V0z"></path></svg></div>
</div>