{% load static %}
<div id="section-blogs" class="section page-section mt-0 mb-0 dark dotted-bg"
     style="background-color: rgba(16, 70, 92, 0.2);">
    <div class="container">
        <div class="heading-block">
            <h4 class="fw-bold text-transform-none mb-4">Блоги
                <span>пользователей</span></h4>
        </div>

        <!-- Owl Carousel
        ============================================= -->
        <div id="oc-news" class="owl-carousel carousel-widget posts-md customjs" data-loop="true"
             data-autoplay="4000" data-speed="500">
            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/5555.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Ultimate Guide To
                                    Fashion</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/7777.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Sports Strategies For
                                    Beginners</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/3333.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">2 Things You Must Know About
                                    you Cafe</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/8888.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Truth About Fashion In 3
                                    Minutes</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0"
                 style="background: url('{% static 'portal/images/9999.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Hidden Mystery Behind
                                    market</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Carousel End -->
        <div class="m-auto col-md-10 border-0">
            <div class="col-12 text-center">
                <a href="#" class="btn rounded-0 btn-border color w-auto size-sm mt-5"><span
                        class="flex-grow-1 font-body">Перейти в блоги</span><i
                        class="bi-arrow-right border-start border-light border-end-0"></i></a>
                <!--                                        <button class="w-auto m-0 btn rounded-0 btn-border color" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Отправить отзыв</button>-->
            </div>
        </div>
    </div>
</div>