{% load static %}
<div id="section-blogs" class="section bg-contrast-200 my-0" >
    <div class="container">
        <div class="row g-5 col-mb-50 my-10">
            <div class="col-lg-8">
                <div class="fancy-title title-border">
                    <h4>Блоги</h4>
                </div>

                <div class="row posts-md col-mb-30">
                    <div class="entry col-md-6">
                        <div class="grid-inner">
                            <div class="entry-image">
                                <a href="#"><img src="{% static 'portal/images/magazine/thumb/11.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="entry-title title-sm text-transform-none">
                                <h3><a href="{% static 'portal/blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><i class="uil uil-schedule"></i> 10th Feb 2021</li>
                                    <li><a href="{% static 'portal/blog-single.html#comments"><i class="uil uil-comments-alt"></i> 13</a></li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <p>Medecins du Monde eradicate sustainability free expression contribution assessment expert humanitarian relief.</p>
                            </div>
                        </div>
                    </div>

                    <div class="entry col-md-6">
                        <div class="grid-inner">
                            <div class="entry-image">
                                <a href="#"><img src="{% static 'portal/images/magazine/thumb/14.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="entry-title title-sm text-transform-none">
                                <h3><a href="blog-single.html">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><i class="uil uil-schedule"></i> 10th Feb 2021</li>
                                    <li><a href="blog-single.html#comments"><i class="uil uil-comments-alt"></i> 13</a></li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <p>Urban public institutions life-saving women and children Rockefeller combat malaria honesty. Sustainability foster immunize treatment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="fancy-title title-border">
                    <h4>Client Testimonials</h4>
                </div>

                <div class="fslider testimonial p-0 border-0 shadow-none" data-animation="slide" data-arrows="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="row gx-3">
                                    <div class="col-auto pt-1">
                                        <img class="rounded-circle" src="{% static 'portal/images/testimonials/3.jpg' %}" width="56" height="56" alt="Customer Testimonails">
                                    </div>
                                    <div class="col">
                                        <p class="mb-3 font-secondary">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                        <h4 class="h6 mb-0 fw-medium">Steve Jobs</h4>
                                        <small class="text-muted">Apple Inc.</small>
                                    </div>
                                </div>
                                <div class="bg-icon bi-quote op-02"></div>
                            </div>
                            <div class="slide">
                                <div class="row gx-3">
                                    <div class="col-auto pt-1">
                                        <img class="rounded-circle" src="{% static 'portal/images/testimonials/2.jpg' %}" width="56" height="56" alt="Customer Testimonails">
                                    </div>
                                    <div class="col">
                                        <p class="mb-3 font-secondary">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                        <h4 class="h6 mb-0 fw-medium">Collis Ta'eed</h4>
                                        <small class="text-muted">Envato Inc.</small>
                                    </div>
                                </div>
                                <div class="bg-icon bi-quote op-02"></div>
                            </div>
                            <div class="slide">
                                <div class="row gx-3">
                                    <div class="col-auto pt-1">
                                        <img class="rounded-circle" src="{% static 'portal/images/testimonials/1.jpg' %}" width="56" height="56" alt="Customer Testimonails">
                                    </div>
                                    <div class="col">
                                        <p class="mb-3 font-secondary">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                        <h4 class="h6 mb-0 fw-medium">John Doe</h4>
                                        <small class="text-muted">XYZ Inc.</small>
                                    </div>
                                </div>
                                <div class="bg-icon bi-quote op-02"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fancy-title title-border mt-5">
                    <h4>Opening Hours</h4>
                </div>

                <div class="position-relative overflow-hidden pb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit reprehenderit voluptates.</p>

                    <ul class="iconlist mb-0">
                        <li><i class="bi-clock color"></i> <strong class="me-2">Mondays-Fridays:</strong> 10AM to 7PM</li>
                        <li><i class="bi-clock color"></i> <strong class="me-2">Saturdays:</strong> 11AM to 3PM</li>
                        <li><i class="bi-clock text-danger"></i> <strong class="me-2">Sundays:</strong> Closed</li>
                    </ul>

                    <i class="bi-clock bg-icon" style="bottom: -70px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>