{% load static %}
<div id="section-events" class="section page-section mt-0 mb-0 dark parallax scroll-detect align-items-center justify-content-center d-flex">
    <img src="{% static 'portal/images/9999.jpg' %}" alt="Image" class="parallax-bg" style="opacity:0.3; filter:alpha(opacity=10);">
    <div class="container">
        <div class="col-lg-12 mb-5 mt-0">
            <div class="col-lg-12">
            <div class="fancy-title title-border">
                <h2>Соревнования и мероприятия</h2>
            </div>
        </div>

            <div class="row justify-content-center gy-5" style="--bs-gutter-x: 60px">
                <div class="col-md-4">
                    <h4 class="mt-2 text-white">Текущие соревнования</h4>
                    <div class="card bg-color-white border-light shadow-lg">
                        <div class="card-body p-4">
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster">
                                    <div class="col-12">
                                        <h4 class="mb-2"><a href="demo-blog-single.html"
                                                   class="stretched-link color-underline">Adobe XD: putting
                                                auto-animate to the test</a></h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster" data-delay="50">
                                    <div class="col-12">
                                        <h4 class="mb-2">Body Scrub</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster"
                                     data-delay="100">
                                    <div class="col-12">
                                        <h4 class="mb-2">Couple Massage</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster"
                                     data-delay="150">
                                    <div class="col-12">
                                        <h4 class="mb-2">Hot Stone Therapy</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn rounded-0 btn-border w-100 size-sm mt-4"><span
                                    class="flex-grow-1 font-body">Все соревнования</span><i
                                    class="bi-calendar3 border-start border-light border-end-0"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="mt-2 text-white">Ближайшие соревнования</h4>
                    <div class="card bg-color-white border-light shadow-lg">
                        <div class="card-body p-4">
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster">
                                    <div class="col-12">
                                        <h4 class="mb-2">Swedish Massage</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster" data-delay="50">
                                    <div class="col-12">
                                        <h4 class="mb-2">Body Scrub</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster"
                                     data-delay="100">
                                    <div class="col-12">
                                        <h4 class="mb-2">Couple Massage</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster"
                                     data-delay="150">
                                    <div class="col-12">
                                        <h4 class="mb-2">Hot Stone Therapy</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn rounded-0 btn-border color w-100 size-sm mt-4"><span
                                    class="flex-grow-1 font-body">Все соревнования</span><i
                                    class="bi-calendar3 border-start border-light border-end-0"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="mt-2 text-white">Ближайшие мероприятия</h4>
                    <div class="card bg-color-white border-light shadow-lg">
                        <div class="card-body p-4">
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster">

                                    <div class="col-12">
                                        <h4 class="mb-2">Swedish Massage</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster" data-delay="50">
                                    <div class="col-12">
                                        <h4 class="mb-2">Body Scrub</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster"
                                     data-delay="100">
                                    <div class="col-12">
                                        <h4 class="mb-2">Couple Massage</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line my-4"></div>
                            <div class="overflow-hidden">
                                <div class="row align-items-center" data-animate="fadeInUpSmall faster"
                                     data-delay="150">
                                    <div class="col-12">
                                        <h4 class="mb-2">Hot Stone Therapy</h4>
                                        <div class="d-flex align-middle text-smaller">
                                            <div><span class="op-04">60 Mins:</span><span
                                                    class="font-primary ms-2">$39</span>
                                            </div>
                                            <small><i class="bi-circle-fill text-smaller op-02 mx-3"></i></small>
                                            <div><span class="op-04">120 Mins:</span><span
                                                    class="font-primary ms-2">$59</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn rounded-0 btn-border color w-100 size-sm mt-4"><span
                                    class="flex-grow-1 font-body">Все мероприятия</span><i
                                    class="bi-calendar3 border-start border-light border-end-0"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>