<!-- Footer
============================================= -->
<footer id="footer" class="bg-white border-0">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container">

            <div class="row col-mb-30">

                <div class="col-md-6 text-center text-md-start">
                    Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br>
                    <div class="copyright-links"><a href="#">Пользовательское соглашение</a> / <a href="#">Политика конфиденциальности</a></div>
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="d-flex justify-content-center justify-content-md-end mb-2">
                        <a href="#" class="social-icon border-transparent si-small h-bg-vk">
                            <i class="fa-brands fa-vk"></i>
                            <i class="fa-brands fa-vk"></i>
                        </a>

                        <a href="#" class="social-icon border-transparent si-small h-bg-youtube">
                            <i class="fa-brands fa-youtube"></i>
                            <i class="fa-brands fa-youtube"></i>
                        </a>

                        <a href="#" class="social-icon border-transparent si-small h-bg-instagram">
                            <i class="bi-instagram"></i>
                            <i class="bi-instagram"></i>
                        </a>

                        <a href="#" class="social-icon border-transparent si-small h-bg-linkedin">
                            <i class="bi-telegram"></i>
                            <i class="bi-telegram"></i>
                        </a>

                        <a href="#" class="social-icon border-transparent si-small h-bg-whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>

                    <i class="bi-envelope"></i> info@canvas.com <span class="middot">&middot;</span> <i class="fa-solid fa-phone"></i> +1-11-6541-6369 <span class="middot">&middot;</span> <i class="bi-skype"></i> CanvasOnSkype
                </div>

            </div>

        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="bi-arrow-up"></div>