{% load static %}
<!-- Header
============================================= -->
<header id="header" class="transparent-header dark" data-sticky-logo-height="80" data-sticky-menu-padding="29" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="60" data-responsive-class="not-dark" data-sticky-shrink="true">
	<div class="container">
		<div class="header-row justify-content-lg-between">
		</div>
	</div>
	<div id="header-wrap">
		<div class="container px-0">
			<div class="header-row justify-content-lg-between">

				<!-- Logo
				============================================= -->
				<div id="logo" class="col-auto order-lg-2 me-lg-0 px-0">
					<a href="">
						<img class="logo-default" srcset="{% static 'portal/images/logo.png' %}, {% static 'portal/images/logo@2x.png 2x' %}" src="{% static 'portal/images/logo@2x.png' %}" alt="Canvas Logo">
						<img class="logo-dark" srcset="{% static 'portal/images/logo-dark.png' %}, {% static 'portal/images/logo-dark@2x.png 2x' %}" src="{% static 'portal/images/logo-dark@2x.png' %}" alt="Canvas Logo">
					</a>
				</div><!-- #logo end -->

				<div class="header-misc">
					<!-- Top Login
					============================================= -->
					<div id="top-account" class="px-4">
						<a href="#modal-login" data-lightbox="inline"><i class="i-style rounded-circle i-light bi-person"></i></a>
<!--						<a href="#" class="side-panel-trigger"><i class="i-style rounded-circle i-light bi-person"></i></a>-->
					</div><!-- #top-login end -->
				</div>

				<div class="primary-menu-trigger" data-target=".main-primary-menu">
					<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
						<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
					</button>
				</div>

				{% include 'portal/includes/menu.html' %}

			</div>

		</div>

	</div>
	<div class="header-wrap-clone"></div>

</header><!-- #header end -->