<!-- Login/Register Modal -->

<div class="modal1 mfp-hide" id="modal-login">
    <div class="block mx-auto" style="background-color: #FFF; max-width: 400px;">
        <div style="padding: 50px;">
            <h3 class="font-body">Login to your Account</h3>
            <form action="#" method="post" class="row mb-0">
                <div class="col-12 form-group">
                    <label class="font-body text-capitalize" for="login-form-modal-username">Username:</label>
                    <input type="text" id="login-form-modal-username" name="login-form-modal-username" value="" class="form-control">
                </div>

                <div class="col-12 form-group">
                    <label class="font-body text-capitalize" for="login-form-modal-password">Password:</label>
                    <input type="password" id="login-form-modal-password" name="login-form-modal-password" value="" class="form-control">
                </div>

                <div class="col-12 form-group">
                    <div class="d-flex justify-content-between">
                        <button class="button button-rounded m-0" id="login-form-modal-submit" name="login-form-modal-submit" value="login">Login</button>
                        <a href="#">Forgot Password?</a>
                    </div>
                </div>
            </form>
            <div class="line line-sm"></div>
            <div class="card-footer py-4 text-center">
                <p class="mb-0">Не зарегистрированы? <a href="#"><u>Регистрация</u></a></p>
            </div>
        </div>
    </div>
</div>