<!-- Primary Navigation
============================================= -->
<nav class="primary-menu one-page-menu">

    <!-- Menu Left -->
    <ul class="menu-container">
        <li class="menu-item border-light"><a class="menu-link" href="#" data-easing="easeInOutExpo" data-speed="1250" data-offset="130" data-href="#section-news"><div class="overflow-hidden"><div data-animate="fadeInDownSmall" data-delay="50">Новости</div></div></a></li>
        <li class="menu-item border-light"><a class="menu-link" href="#" data-easing="easeInOutExpo" data-speed="1250" data-offset="130" data-href="#section-about"><div class="overflow-hidden"><div data-animate="fadeInDownSmall" data-delay="50">Статьи</div></div></a></li>
        <li class="menu-item border-light"><a class="menu-link" href="#" data-easing="easeInOutExpo" data-speed="1250" data-offset="130" data-href="#section-services"><div class="overflow-hidden"><div data-animate="fadeInDownSmall" data-delay="50">Блоги</div></div></a></li>
        <li class="menu-item border-light"><a class="menu-link" href="#" data-easing="easeInOutExpo" data-speed="1250" data-offset="130" data-href="#section-gallery"><div class="overflow-hidden"><div data-animate="fadeInDownSmall" data-delay="50">Фотобанк</div></div></a></li>
        <li class="menu-item border-light"><a class="menu-link" href="#" data-easing="easeInOutExpo" data-speed="1250" data-offset="130" data-href="#section-testimonials"><div class="overflow-hidden"><div data-animate="fadeInDownSmall" data-delay="50">Контакты</div></div></a></li>
        <li class="menu-item border-light"><a class="menu-link" href="#" data-easing="easeInOutExpo" data-speed="1250" data-offset="130" data-href="#section-calendar"><div class="overflow-hidden"><div data-animate="fadeInDownSmall" data-delay="50">Календарь событий</div></div></a></li>
    </ul>

</nav><!-- #primary-menu end -->