<!-- Primary Navigation
============================================= -->
<nav class="primary-menu text-lg-center main-primary-menu">

    <!-- Menu Left -->
    <ul class="menu-container style-4 justify-content-between border-end-0" data-easing="easeInOutExpo" data-speed="1300" data-offset="60">
        <li class="menu-item"><a class="menu-link" href="#" data-href="#section-news"><div>Новости</div></a></li>
        <li class="menu-item"><a class="menu-link" href="#" data-href="#section-about"><div>Статьи</div></a></li>
        <li class="menu-item"><a class="menu-link" href="#" data-href="#section-services"><div>Блоги</div></a></li>
        <li class="menu-item"><a class="menu-link" href="#" data-href="#section-gallery"><div>Фотобанк</div></a></li>
        <li class="menu-item"><a class="menu-link" href="#" data-href="#section-testimonials"><div>Контакты</div></a></li>
        <li class="menu-item"><a class="menu-link" href="#" data-href="#section-calendar"><div>Календарь событий</div></a></li>
    </ul>

</nav><!-- #primary-menu end -->