{% load static %}


<style>
    :not(.dark) .entry-categories a {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	color: #333;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.dark .entry-categories a {
	color: var(--cnvs-themecolor);
}

.bg-categories,
.bg-color-categories.nav-link:hover,
.menu-color-categories > a::before,
.bg-color-categories.nav-link.active { background: #17A2B8 !important; }

.color-underline {
	background-image: linear-gradient(rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3), rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3));
	background-repeat: no-repeat;
	background-size: 0 8px;
	background-position: 0 82%;
	padding: 0 2px 2px 0;
	transition: background .6s cubic-bezier(.19,1,.22,1);
}

.color-underline:hover { background-size: 100% 8px; }
</style>

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-0 my-0" >
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border">
                <h4>Последние новости</h4>
            </div>
        </div>
        <!-- Hero Area
        ============================================= -->
        <div class="row border-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <!-- Post Article -->
                <article class="entry border-bottom-0 mb-0">
                    <div class="entry-image">
                        <a href="demo-blog-single.html"><img src="{% static 'portal/images/7777.jpg' %}" alt="Image 3"></a>
                    </div>
                    <div class="entry-title">
                        <div class="entry-categories"><a href="demo-blog-categories.html">Coronavirus Update - World</a></div>
                        <h3><a href="demo-blog-single.html" class="stretched-link color-underline"><span>Statement from Vice President Joe Biden on Record Number of Americans Filing for Unemployment</span></a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2016</a></li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet. Rapidiously negotiate standardized web services and goal-oriented outsourcing. Uniquely repurpose compelling functionalities before parallel mindshare.</p>
                    </div>
                </article>
            </div>

            <div class="col-lg-5">
                <h3 class="font-body fw-medium mb-4 h4">Highlights</h3>

                <div class="row posts-md col-mb-30">
                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="col-md-4">
                                <a class="entry-image" href="demo-blog-single.html"><img src="{% static 'portal/images/2222.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <div class="entry-categories"><a href="demo-blog-categories.html">Market</a></div>
                                    <h3><a href="demo-blog-single.html" class="stretched-link color-underline">What Everyone’s Getting Wrong About the Toilet Paper Shortage</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><a href="#">Mar 11, 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="col-md-4">
                                <a  class="entry-image" href="demo-blog-single.html"><img src="{% static 'portal/images/3333.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <div class="entry-categories"><a href="demo-blog-categories.html">Tech</a></div>
                                    <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Designing an e-commerce site for a Cloth store — a UI/UX case</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><a href="#">Mar 11, 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="col-md-4">
                                <a  class="entry-image" href="demo-blog-single.html"><img src="{% static 'portal/images/4444.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <div class="entry-categories"><a href="demo-blog-categories.html">Food</a></div>
                                    <h3><a href="demo-blog-single.html" class="stretched-link color-underline">The Path: “I stayed loyal to those who gave me opportunities, and tried to remain humble every step of the way.”</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><a href="#">Mar 11, 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="entry col-12">
                        <div class="grid-inner row gutter-20">
                            <div class="col-md-4">
                                <a class="entry-image" href="demo-blog-single.html"><img src="{% static 'portal/images/5555.jpg' %}" alt="Image"></a>
                            </div>
                            <div class="col-md-8">
                                <div class="entry-title title-xs">
                                    <div class="entry-categories"><a href="demo-blog-categories.html">Tech</a></div>
                                    <h3><a href="demo-blog-single.html" class="stretched-link color-underline">Adobe XD: putting auto-animate to the test</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><a href="#">Mar 11, 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div> <!-- Hero Area End -->

        <!-- Subscribe Section
        ============================================= -->
        <div class="section section-colored rounded px-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5">
                    <h3 class="mb-4 mb-lg-0">Sign up for Updates &amp; Newsletters.</h3>
                </div>
                <div class="col-lg-6">
                    <div class="widget subscribe-widget" data-loader="button">

                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0 d-flex">
                            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Your Email Address">
                            <button class="button button-large button-black button-dark fw-medium ls-0 button-rounded m-0 ms-3" type="submit">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- Subscribe Section End -->

        <!-- Video Section
        ============================================= -->
        <div class="d-flex justify-content-between mb-4">
            <h3 class="font-body fw-medium m-0">Latest Videos</h3>
            <a href="#" class="btn btn-sm btn-outline-secondary">More Content <i class="bi-arrow-right"></i></a>
        </div>

        <div class="row posts-md col-mb-30">
            <div class="col-md-4">
                <article class="entry border-bottom-0 mb-0">
                    <div class="entry-image">
                        <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe"><img src="{% static 'portal/images/6666.jpg' %}" alt="Image 3">
                            <div class="play-icon"><i class="bi-play"></i>Watch</div>
                        </a>
                    </div>
                    <div class="entry-title title-sm">
                        <div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
                        <h3><a href="demo-blog-single.html" class="color-underline">The Best Destinations in Asia for Solo Travel</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2016</a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="entry border-bottom-0 mb-0">
                    <div class="entry-image">
                        <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe"><img src="{% static 'portal/images/1111.jpg' %}" alt="Image 3">
                            <div class="play-icon"><i class="bi-play"></i>Watch</div>
                        </a>
                    </div>
                    <div class="entry-title title-sm">
                        <div class="entry-categories"><a href="demo-blog-categories.html">Fashion</a></div>
                        <h3><a href="demo-blog-single.html" class="color-underline">10 Trendy Fashion Instagram Profile You Need to Follow</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2016</a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="entry border-bottom-0 mb-0">
                    <div class="entry-image">
                        <a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" data-lightbox="iframe"><img src="{% static 'portal/images/3333.jpg' %}" alt="Image 3">
                            <div class="play-icon"><i class="bi-play"></i>Watch</div>
                        </a>
                    </div>
                    <div class="entry-title title-sm">
                        <div class="entry-categories"><a href="demo-blog-categories.html">Travel</a></div>
                        <h3><a href="demo-blog-single.html" class="color-underline">23 Top Travel Bloggers Who Inspire Us To Travel</a></h3>
                    </div>
                    <div class="entry-meta">
                        <ul>
                            <li><a href="#">Mar 11, 2016</a></li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>  <!-- Video Section End -->
    </div>
</div>