{% load static %}

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-0 my-0" >
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border">
                <h4>Последние новости</h4>
            </div>
        </div>
        <div class="row g-4 justify-content-between">
            <div class="col-lg-5 py-0">
                 <div class="row posts-md col-mb-0 h-100">
                     <div class="col-md-12">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3 h-100" style="background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5)), url('{% static 'portal/images/1111.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body p-5 align-item-start">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2 align-content-end">Категория</h6>
                            </div>
                            <div class="card-body p-5 align-content-end">
                                <h3 class="card-title h2 fw-bold mb-4 text-white align-content-end">Заголовок самой свежей новости #1 и еще немного текста</h3>
                                <p class="card-text mb-5">Краткое содержание самой свежей новости, несколько дополнительных слов для того, чтобы было больше текста в карточке</p>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="col-lg-7">
                <div class="row posts-md col-mb-30">
                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/3333.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/4444.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/5555.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fullwidth Carousel
============================================= -->
<div class="section bg-transparent m-0">
    <div class="container">
        <h4 class="mb-3 ls-1 text-uppercase fw-bold">Popular News</h4>
        <!-- Owl Carousel
        ============================================= -->
        <div id="oc-news" class="owl-carousel fixed-nav top-nav carousel-widget posts-md customjs">
            <!-- Post Article -->
            <div class="entry mb-0" style="background: url('{% static 'portal/images/6666.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-categories"><a href="demo-news-category.html" class="bg-fashion">Fashion</a></div>
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Ultimate Guide To Fashion</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0" style="background: url('{% static 'portal/images/7777.jpg' %}') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-categories"><a href="demo-news-category.html" class="bg-sports">Sports</a></div>
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Sports Strategies For Beginners</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0" style="background: url('demos/news/images/posts/food/1.jpg') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-categories"><a href="demo-news-category.html" class="bg-food">Food</a></div>
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">2 Things You Must Know About you Cafe</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0" style="background: url('demos/news/images/posts/fashion/2.jpg') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-categories"><a href="demo-news-category.html" class="bg-fashion">Fashion</a></div>
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Truth About Fashion In 3 Minutes</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Article -->
            <div class="entry mb-0" style="background: url('demos/news/images/posts/market/1.jpg') center center; background-size: cover; height: 400px;">
                <div class="bg-overlay">
                    <div class="bg-overlay-content text-overlay-mask dark desc-sm align-items-end justify-content-start p-4">
                        <div class="position-relative w-100">
                            <div class="entry-categories"><a href="demo-news-category.html" class="bg-market">Market</a></div>
                            <div class="entry-title text-transform-none">
                                <h3 class="fw-semibold mb-2"><a href="#" class="text-light">The Hidden Mystery Behind market</a></h3>
                            </div>
                            <div class="entry-meta no-separator">
                                <ul>
                                    <li><span>by</span> <a href="#">John Doe</a></li>
                                    <li><i class="bi-clock"></i><a href="#">11 Mar 2021</a></li>
                                </ul>
                            </div>
                            <ul class="entry-icons d-none d-sm-block">
                                <li><a href="#" class="bi-bookmark"></a></li>
                                <li><a href="#" class="bi-heart"><span>18</span></a></li>
                                <li><a href="#" class="bi-chat"><span>3</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- Carousel End -->
    </div>
</div> <!-- Container End -->