{% load static %}

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-200 my-0" >
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border">
                <h4>Последние новости</h4>
            </div>
        </div>
        <div class="row g-4 col-mb-10 my-10">
            <div class="col-lg-4 py-0">
                 <div class="entry">
                    <article class="entry">
                        <div class="grid-inner">
                            <div class="entry-image mb-2">
                                <div class="h-100 min-vh-50" style="background: url('{% static 'portal/images/1111.jpg' %}') no-repeat center center / cover;"></div>
                            </div>
                            <div style='color: #000000; padding: 33px 15px 20px 10px; border-right: solid 2px var(--cnvs-themecolor); border-bottom: solid 2px var(--cnvs-themecolor);'>
                                <div class="entry-title title-sm text-transform-none">
                                    <h3><a href="/blog-single.html">Заголовок самой свежей новости в большом блоке #1</a></h3>
                                </div>
                                <div class="entry-content">
                                    <p>Краткое содержание самой свежей новости из большого блока с ограничением количества слов + еще слово</p>
                                </div>
                                <div class="entry-meta">
                                <ul>
                                    <li><i class="uil uil-schedule"></i> 07.04.2024</li>
                                    <li><a href="/blog-single.html#comments"><i class="uil uil-comments-alt"></i> 1</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row posts-md col-mb-30">
                    <div class="col-xl-4 col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                                <a href="#"><i class="bi-arrow-right h4 icon-stacked text-center rounded-circle bg-white text-dark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="entry col-md-6">
                        <article class="entry">
                            <div class="grid-inner">
                                <div class="entry-image mb-2">
                                    <div class="h-40 min-vh-25" style="background: url('{% static 'portal/images/2222.jpg' %}') no-repeat center center / cover;"></div>
                                </div>
                                <div style='color: #000000; padding: 10px 15px 20px 10px; border-right: solid 2px var(--cnvs-themecolor); border-bottom: solid 2px var(--cnvs-themecolor);'>
                                <div class="entry-title title-sm text-transform-none">
                                    <h3><a href="/blog-single.html">Заголовок новости и еще несколько слов для объема #1</a></h3>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="uil uil-schedule"></i> 07.04.2024</li>
                                        <li><a href="/blog-single.html#comments"><i class="uil uil-comments-alt"></i> 2</a></li>
                                    </ul>
                                </div>

                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="entry col-md-6">
                        <article class="entry">
                            <div class="grid-inner">
                                <div class="entry-image mb-2">
                                    <div class="h-40 min-vh-25" style="background: url('{% static 'portal/images/2222.jpg' %}') no-repeat center center / cover;"></div>
                                </div>
                                <div style='color: #000000; padding: 10px 15px 20px 10px; border-right: solid 2px var(--cnvs-themecolor); border-bottom: solid 2px var(--cnvs-themecolor);'>
                                    <div class="entry-title title-sm text-transform-none">
                                        <h3><a href="/blog-single.html">Заголовок новости и еще несколько слов для объема #2</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="uil uil-schedule"></i> 07.04.2024</li>
                                            <li><a href="/blog-single.html#comments"><i class="uil uil-comments-alt"></i> 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="entry col-md-6">
                        <article class="entry">
                            <div class="grid-inner">
                                <div class="entry-image mb-2">
                                    <div class="h-25 min-vh-25" style="background: url('{% static 'portal/images/2222.jpg' %}') no-repeat center center / cover;"></div>
                                </div>
                                <div style='color: #000000; padding: 10px 15px 20px 10px; border-right: solid 2px var(--cnvs-themecolor); border-bottom: solid 2px var(--cnvs-themecolor);'>
                                    <div class="entry-title title-sm text-transform-none">
                                        <h3><a href="/blog-single.html">Заголовок новости и еще несколько слов для объема #3</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="uil uil-schedule"></i> 07.04.2024</li>
                                            <li><a href="/blog-single.html#comments"><i class="uil uil-comments-alt"></i> 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="entry col-md-6">
                        <article class="entry">
                            <div class="grid-inner">
                                <div class="entry-image mb-2">
                                    <div class="h-25 min-vh-25" style="background: url('{% static 'portal/images/2222.jpg' %}') no-repeat center center / cover;"></div>
                                </div>
                                <div style='color: #000000; padding: 10px 15px 20px 10px; border-right: solid 2px var(--cnvs-themecolor); border-bottom: solid 2px var(--cnvs-themecolor);'>
                                    <div class="entry-title title-sm text-transform-none">
                                        <h3><a href="/blog-single.html">Заголовок новости и еще несколько слов для объема #4</a></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="uil uil-schedule"></i> 07.04.2024</li>
                                            <li><a href="/blog-single.html#comments"><i class="uil uil-comments-alt"></i> 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
