{% load static %}


<style>
    :not(.dark) .entry-categories a {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	color: #333;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.dark .entry-categories a {
	color: var(--cnvs-themecolor);
}

.bg-categories,
.bg-color-categories.nav-link:hover,
.menu-color-categories > a::before,
.bg-color-categories.nav-link.active { background: #17A2B8 !important; }

.color-underline {
	background-image: linear-gradient(rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3), rgba(var(--cnvs-themecolor-rgb, 243, 152, 135), 0.3));
	background-repeat: no-repeat;
	background-size: 0 8px;
	background-position: 0 82%;
	padding: 0 2px 2px 0;
	transition: background .6s cubic-bezier(.19,1,.22,1);
}

.color-underline:hover { background-size: 100% 8px; }


.slider {
  display: flex;
}

.block {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  transition: all 0.3s;
}

.block.active {
  background-color: #ffcc00;
  transform: scale(1.1);
}

.slider:hover .block {
  background-color: #f0f0f0;
}

.slider:hover .block.active {
  background-color: #ffcc00;
}


</style>

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-0 my-0">
    <div class="container">
        <div class="row">
            <!-- Posts Area
            ============================================= -->
            <div class="col-lg-9">
                <div class="col-lg-12">
                    <div class="fancy-title title-border">
                        <h4>Актуальные новости</h4>
                    </div>
                </div>
                <div class="row border-between">
                    <div class="col-lg-7 mb-5 mb-lg-0">
                        <!-- Post Article -->
                        <article class="entry border-bottom-0 mb-0">
                            <div class="entry-image">
                                <a href="demo-blog-single.html"><img src="{% static 'portal/images/7777.jpg' %}"
                                                                     alt="Image 3"></a>
                            </div>
                            <div class="entry-title">
                                <!--                                <div class="entry-categories"><a href="demo-blog-categories.html">Coronavirus Update - World</a></div>-->
                                <h3><a href="demo-blog-single.html"
                                       class="stretched-link color-underline"><span>Statement from Vice President Joe Biden on Record Number of Americans Filing for Unemployment</span></a>
                                </h3>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#">Mar 11, 2016</a></li>
                                </ul>
                            </div>
                            <!--                            <div class="entry-content">-->
                            <!--                                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet. Rapidiously negotiate standardized web services and goal-oriented outsourcing. Uniquely repurpose compelling functionalities before parallel mindshare.</p>-->
                            <!--                            </div>-->
                        </article>
                    </div>

                    <div class="col-lg-5">
                        <div class="row posts-md col-mb-30">
                            <article class="entry col-12">
                                <div class="grid-inner row gutter-20">
                                    <div class="col-md-5">
                                        <a class="entry-image" href="demo-blog-single.html"><img
                                                src="{% static 'portal/images/2222.jpg' %}" alt="Image"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="entry-title title-xs">
                                            <h3><a href="demo-blog-single.html"
                                                   class="stretched-link color-underline">What Everyone’s
                                                Getting Wrong About the Toilet Paper Shortage</a></h3>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><a href="#">Mar 11, 2016</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="entry col-12">
                                <div class="grid-inner row gutter-20">
                                    <div class="col-md-5">
                                        <a class="entry-image" href="demo-blog-single.html"><img
                                                src="{% static 'portal/images/3333.jpg' %}" alt="Image"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="entry-title title-xs">
                                            <h3><a href="demo-blog-single.html"
                                                   class="stretched-link color-underline">Designing an
                                                e-commerce site for a Cloth store — a UI/UX case</a></h3>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><a href="#">Mar 11, 2016</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="entry col-12">
                                <div class="grid-inner row gutter-20">
                                    <div class="col-md-5">
                                        <a class="entry-image" href="demo-blog-single.html"><img
                                                src="{% static 'portal/images/4444.jpg' %}" alt="Image"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="entry-title title-xs">
                                            <h3><a href="demo-blog-single.html"
                                                   class="stretched-link color-underline">The Path: “I stayed
                                                loyal to those who gave me opportunities, and tried to remain
                                                humble every step of the way.”</a></h3>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><a href="#">Mar 11, 2016</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="entry col-12">
                                <div class="grid-inner row gutter-20">
                                    <div class="col-md-5">
                                        <a class="entry-image" href="demo-blog-single.html"><img
                                                src="{% static 'portal/images/8888.jpg' %}" alt="Image"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="entry-title title-xs">
                                            <h3><a href="demo-blog-single.html"
                                                   class="stretched-link color-underline">Adobe XD: putting
                                                auto-animate to the test</a></h3>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><a href="#">Mar 11, 2016</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
                <div class="m-auto col-md-10 border-0 mt-5">
                    <div class="col-12 text-center">
                        <a href="#" class="btn rounded-0 btn-border-light w-auto size-sm mt-4"><span
                                class="flex-grow-1">Перейти к новостям</span><i
                                class="bi-arrow-right border-start border-end-0"></i></a>
                        <!-- <button class="w-auto m-0 btn rounded-0 btn-border color" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Отправить отзыв</button>-->
                    </div>
                </div>

                <!-- Ad
                ============================================= -->
                <a href="#"><img src="{% static 'portal/images/ad.jpg' %}" width="728" alt="Ad" class="aligncenter mb-5 mt-5"></a>
            </div>



            <!--        &lt;!&ndash; Ad-->
            <!--        ============================================= &ndash;&gt;-->
            <!--        <a href="#"><img src="{% static 'portal/images/ad.jpg' %}" width="728" alt="Ad" class="aligncenter mb-5"></a>-->

            <!-- Top Sidebar Area
            ============================================= -->
            <div class="col-lg-3 sticky-sidebar-wrap mt-5 mt-lg-0">
                <div class="sticky-sidebar">
                     <!-- Sidebar Widget 1
                    ============================================= -->
                    <div class="widget">
                        <a href=""><img src="{% static 'portal/images/ad.png' %}" alt="Ad"
                                        class="img-responsive aligncenter"></a>
                    </div>
                </div>
            </div> <!-- Sidebar End -->
        </div>
    </div>
</div>
