{% load static %}

<!-- Latest News Grid Section
============================================= -->
<div id="section-news" class="section bg-contrast-200 my-0" >
    <div class="container">
        <div class="col-lg-12">
            <div class="fancy-title title-border">
                <h4>Последние новости</h4>
            </div>
        </div>
        <div class="row g-4 justify-content-between gutter-50">
            <div class="col-lg-5 py-0">
                 <div class="h-100">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3 h-100" style="background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.2)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                                <a href="#"><i class="bi-arrow-right h4 icon-stacked text-center rounded-circle bg-white text-dark"></i></a>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-7">
                <div class="row posts-md col-mb-30">
                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                                <a href="#"><i class="bi-arrow-right h4 icon-stacked text-center rounded-circle bg-white text-dark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                                <a href="#"><i class="bi-arrow-right h4 icon-stacked text-center rounded-circle bg-white text-dark"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                                <a href="#"><i class="bi-arrow-right h4 icon-stacked text-center rounded-circle bg-white text-dark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0 dark shadow-sm h-shadow shadow-ts p-3" style="background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}') no-repeat top center / cover;">
                            <div class="card-body">
                                <h6 class="fw-normal text-uppercase ls-2 text-white-50 mb-2">Category</h6>
                                <h3 class="card-title h2 fw-bold mb-4 text-white">Card Overlay Dark</h3>
                                <p class="card-text mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, est blanditiis id aut enim consequuntur. Voluptates error dicta assumenda voluptatem!</p>
                                <a href="#"><i class="bi-arrow-right h4 icon-stacked text-center rounded-circle bg-white text-dark"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
