{% load static %}
<!-- Hero Section
============================================= -->
<div id="home" class="page-section" style="position:absolute;top:0;left:0;width:100%;height:200px;z-index:-2;"></div>
<section id="slider" class="page-section min-vh-60 min-vh-md-100 slider-element slider-parallax swiper_wrapper min-vh-100 customjs include-header include-topbar dark" data-loop="true">
    <div class="slider-inner">
    <div class="swiper swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="slider-caption">
                        <h2>Заголовок слайда</h2>
                        <p>Дополнительный текст к слайду</p>
                        <div>
                            <a href="block-slider-7-vertical.html" class="mt-6 border-width-2 button button-large button-offset button-primary bg-primary text-light rounded" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide-bg" style="background-image: linear-gradient(rgba(24, 80, 121, 0.65), rgba(0,0,0,.4)), url('{% static 'portal/images/2222.jpg' %}'); background-size: cover;"></div>
            </div>
            <div class="swiper-slide dark">
                <div class="container">
                    <div class="slider-caption">
                        <h2>Видео-слайд</h2>
                        <p>Можно использовать загруженное на сайт видео</p>
                        <div>
                            <a href="block-slider-7-vertical.html" class="mt-6 border-width-2 button button-large button-offset button-primary bg-primary text-light rounded" target="_blank">Смотреть</a>
                        </div>
                    </div>
                </div>
                <div class="video-wrap no-placeholder">
                    <video id="slide-video" poster="{% static 'portal/images/videos/deskwork.jpg' %}" preload="auto" loop autoplay muted playsinline>
                        <source src="{% static 'portal/images/videos/explore.webm' %}" type='video/webm'>
                        <source src="{% static 'portal/images/videos/explore.mp4' %}" type='video/mp4'>
                    </video>
                    <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                </div>
            </div>
<!--            <div class="swiper-slide">-->
<!--            <div class="container">-->
<!--                <div class="slider-caption">-->
<!--                    <h2>Видео-слайд #2</h2>-->
<!--                    <p>Можно использовать загруженное на youtube видео</p>-->
<!--                    <div>-->
<!--                        <a href="block-slider-7-vertical.html" class="mt-6 border-width-2 button button-large button-offset button-light bg-white text-dark rounded" target="_blank">Смотреть</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="video-wrap">-->
<!--                <div class="yt-bg-player" data-quality="hd1080" data-start="19" data-mute="true" data-volume="1" data-stop="52" data-video="https://youtu.be/BAs61JQ3ciQ"></div>-->
<!--                <div class="video-overlay" style="background: rgba(0,0,0,0.4);"></div>-->
<!--            </div>-->
<!--            </div>-->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination center-right"></div>
        <!-- Slider Mouse Icon
        ============================================= -->
        <a href="#" class="scroll-down d-none d-lg-block" data-scrollto="#content" data-offset="40">
            <span class="scroll-mouse"><span class="scroll-wheel"></span></span>
        </a>
    </div>
        </div>
</section>