{% load static %}

<!-- Testimonials Section
============================================= -->
<div class="section m-0 bg-color"
     style="padding: 100px 0; background-image: linear-gradient(to bottom, #3D80E4 0%, #0a4bab 80%, #FFF 80%);">
    <div class="container">
        <div class="row mx-auto dotted-bg" style="max-width: 740px">
            <div class="col-md-12">
                <div class="text-center dark mb-5">
                    <i class="fa-regular fa-life-ring h1 "></i>
                    <h2 class="fw-bold mb-2">Есть предложение или нужна помощь?</h2>
                    <p class="fw-normal mb-2 lead">Напишите нам ваш вопрос или предложение, заполнив форму</p>
                </div>

                <div class="card bg-white shadow-lg border-0">
                    <div class="card-body p-5">
                        <div class="form-widget" data-loader="button" data-alert-type="inline">

                            <div class="form-result"></div>

                            <form class="row mb-0" id="landing-enquiry" action="include/form.php" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-process"></div>
                                <div class="col-12 form-group mb-4">
                                    <input type="text" name="landing-enquiry-name" id="landing-enquiry-name"
                                           class="form-control form-control-lg required" value="" placeholder="ФИО">
                                </div>
                                <div class="col-12 form-group mb-4">
                                    <input type="email" name="landing-enquiry-email" id="landing-enquiry-email"
                                           class="form-control form-control-lg required" value="" placeholder="E-mail">
                                </div>
                                <div class="col-12 form-group mb-4">
                                    <div class="input-group input-group-lg">
                                        <select class="form-select required pe-2" name="landing-enquiry-idd"
                                                id="landing-enquiry-idd" style="max-width: 90px;">
                                            <option value="+7">+7</option>
                                            <!--															<option value="+44">+44</option>-->
                                            <!--															<option value="+66">+66</option>-->
                                            <!--															<option value="+62">+62</option>-->
                                            <!--															<option value="+61">+61</option>-->
                                            <!--															<option value="+852">+852</option>-->
                                            <!--															<option value="+65">+61</option>-->
                                            <!--															<option value="+33">+61</option>-->
                                            <!--															<option value="+49">+49</option>-->
                                        </select>
                                        <input type="text" name="landing-enquiry-phone" id="landing-enquiry-phone"
                                               class="form-control form-control-lg required" value=""
                                               placeholder="(999) 999-99-99">
                                    </div>
                                </div>
                                <div class="col-12 form-group mb-4">
                                    <textarea name="landing-enquiry-additional-requirements"
                                              id="landing-enquiry-additional-requirements"
                                              class="form-control form-control-lg" cols="30" rows="3"
                                              placeholder="Ваше сообщение"></textarea>
                                </div>
                                <div class="col-12 d-none">
                                    <input type="text" id="landing-enquiry-botcheck" name="landing-enquiry-botcheck"
                                           value="">
                                </div>
                                <div class="col-12">
                                    <button type="submit" name="landing-enquiry-submit"
                                            class="btn w-100 text-white bg-color rounded-3 py-3 fw-semibold text-uppercase mt-2">
                                        Contact Us
                                    </button>
                                </div>

                                <input type="hidden" name="prefix" value="landing-enquiry-">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>